<div class="card">
    <div class="header titulo">

        <div class="claseDiseño tittle__izq p-d-inline-flex p-ai-center">
            <i class="pi pi-sort-amount-up">
              </i>
            <b>Lista de categorias </b>
            <button pButton type="button" class="botonNuevo boton__dere  p-button-rounded p-button-sm" routerLink="/admin/category-add">NUEVO</button>
        </div>


    </div>


    <p-table #dt2 [value]="categorias" [responsive]="true" selectionMode="single" [(selection)]="selectedCategorias" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th class="card__word--header">Nombre
                </th>
                <th class="card__word--header">Descripcion
                </th>
                <th class="card__word--header">Opciones
                </th>


            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-categorias>
            <tr [pSelectableRow]="categorias">
                <td class="card__word--row">
                    <span class="p-column-title">Nombre</span> {{categorias.nombreCategoria}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Descripcion</span> {{categorias.descripcion}}
                </td>

                <td class="card__word--row">
                    <span class="p-column-title">Opciones</span>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCategoria(categorias.idCategoria)"></button>

                    <button pButton pRipple icon="pi pi-pencil" class="boton__derecho p-button-rounded p-button-success p-mr-2" [routerLink]="['/admin/category-edit/',categorias.idCategoria]"></button>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No encontro Categorias</td>
            </tr>
        </ng-template>
    </p-table>
</div>