<div class="container">
    <p-card>
        <h5>Reestablecer contraseña del Usuario: {{usuario}}</h5>
        <div class="container-fluid">
            <div class="row inputs__modal--register">
                <div class="col-md-3 label__modal--register">
                  Password
                </div>
                <div class="col-md-6">
                  <input  pPassword type="password" [(ngModel)]="password" [weakLabel]="'Malo'" [mediumLabel]="'Bueno'" [strongLabel]="'Excelente !!!!'" [promptLabel]="'Ingrese una contraseña'" />
                </div>
                <div class="col-md-3">
                  <button pButton type="button" class="p-button-rounded p-button-sm" icon="far fa-eye" iconPos="left"(click)="updatePassword()"></button>
        
                </div>
              </div>
        </div>
    </p-card>
</div>



