
<div class="card">
    <div class="header titulo">
        
            <div class="tittle__izq p-d-inline-flex p-ai-center">
                <i class="far fa-smile-wink">
                </i>
                <b>Lista de Clientes </b> 
            </div>      
          
            <!-- <button pButton align="rigth"  type="button" class="boton__dere  p-button-rounded p-button-sm" routerLink="/admin/user-add">Nuevo</button> -->

    </div>
            

    <p-table #dt2 [value]="client" [responsive]="true" selectionMode="single"  dataKey="id" styleClass="p-datatable-responsive"
        [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th class="card__word--header" >Nombre         
                </th>
                <th class="card__word--header">Apellido
                </th>
                <th class="card__word--header">C&eacute;dula
                </th>
                <th class="card__word--header">Correo
                </th>
                <th class="card__word--header">Telefono
                </th>
                <!-- <th class="card__word--header">Opciones
                </th> -->
                
            </tr>
      
        </ng-template>
        <ng-template pTemplate="body" let-clientes>
            <tr [pSelectableRow]="clientes">
                <td class="card__word--row">
                    <span class="p-column-title">Nombre</span>
                    {{clientes.nombreCli}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Apellio</span>
                    {{clientes.apellidoCli}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">C&eacute;dula</span>
                    {{clientes.cedulaCli}}
                </td >
                <td class="card__word--row">
                  <span class="p-column-title">Correo</span>
                  {{clientes.email}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Telefono</span>
                    {{clientes.telefono}}
                  </td>
                <!-- <td class="card__word--row">
                    <span class="p-column-title">Opciones</span>
                    <button pButton pRipple icon="pi pi-trash" 
                  class="p-button-rounded p-button-warning"             
                   (click)="deleteUsuarios(usuarios.idUsuario)" ></button>
                  
                   <button pButton pRipple icon="pi pi-pencil" class="boton__derecho p-button-rounded p-button-success p-mr-2"  [routerLink]="['/admin/user-edit/',usuarios.idUsuario]"></button>
                </td> -->


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No encontro Cliente</td>
            </tr>
        </ng-template>
    </p-table>
</div>