tr .card__word--header{
    font-size: smaller;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    /* color: #FFFFFF;
    background-color: #DDC17B; */
}
.card__word--row{
    font-size: small;
    font-weight: 400;
   
}
.boton__dere{
    justify-content: flex-end;
   
}
.tittle__izq{
    justify-content: flex-start;
}
.header{
    display: flex;
    align-items: center;
    align-items: space-;

}

i{
    margin-right: 1em;
}
.boton__dere{
    margin-left: 1em;
}
.boton__derecho{
    margin-left: 10px;
}
.titulo{
    margin-bottom: 1em;
    margin-top: 1em;
}