<!-- <div class="preloaderConsulta" *ngIf="isloading">
    <div class="spinConsulta">
        <div class="cube1Consulta"></div>
        <div class="cube2Consulta"></div>
    </div>
</div>
<p-card header="{{creacion}} Diseño">
    <button pButton pRipple type="button" icon="pi pi-angle-double-left" class="p-button-rounded p-button-danger" routerLink="/admin/design"></button>
    <div class="container-fluid">

        <div class="form-group">

            <input type="text" class="form-control" [(ngModel)]="this.disenos.nombre" id="nombre" name="nombre" placeholder="Nombre del Diseño">
            <div class="p-col">Ingrese Imagen 1
                <input class="form-control" id="formFile" type="file" accept="image/*" (change)="onBasicUpload($event)">
            </div>
            <img src="{{imagenObtenidaMostrar}}" width="200px">

            <div class="p-col">Ingrese Imagen 2
                <input class="form-control" id="formFile" type="file" accept="image/*" (change)="onBasicUpload1($event)">
            </div>
            <img src="{{imagenObtenidaMostrar1}}" width="200px">

            <div class="p-col">Ingrese Imagen 3
                <input class="form-control" id="formFile" type="file" accept="image/*" (change)="onBasicUpload2($event)">
            </div>
            <img src="{{imagenObtenidaMostrar2}}" width="200px">


        </div>

        <div class="form-group">
            <button class="botonAceptar" (click)="edit ? updateDisenos() : saveDisenos()">ACEPTAR</button>

        </div>


    </div>
</p-card> -->