<p-card header="{{creacion}} Categoria">
    <button pButton pRipple type="button" pTooltip="REGRESAR" tooltipPosition="top" icon="pi pi-angle-double-left" class="p-button-rounded p-button-danger" routerLink="/admin/category"></button>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" [(ngModel)]="categorias.nombreCategoria" id="nombre" name="nombre" placeholder="Nombre de la Categoria">

            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" [(ngModel)]="categorias.descripcion" id="descripcion" name="descripcion" placeholder="Desripcion">

            </div>
        </div>
        <div class="row boton__menu">

            <div class="form-group">
                <button class="botonAceptar" (click)="edit ? updateCategoria() : saveCategoria()">ACEPTAR</button>

            </div>
        </div>


    </div>
</p-card>