<p-card header="{{creacion}} Medida">

    <button pButton pRipple type="button" pTooltip="REGRESAR" tooltipPosition="top" icon="pi pi-angle-double-left" class="p-button-rounded p-button-danger" routerLink="/admin/size"></button>
    <div class="container-fluid">

        <div class="row">

            <input type="text" class="form-control" [(ngModel)]="medidas.medida" id="medida" name="medida" placeholder="Medida">
            <input type="text" class="form-control" [(ngModel)]="medidas.abreviacion" id="abreviacion" name="abreviacion" placeholder="abreviacion">
            <input type="text" class="form-control" [(ngModel)]="medidas.tipo" id="tipo" name="tipo" placeholder="Tipo">

        </div>



        <div class="row boton__menu">
            <div class="form-group">

                <button class="botonAceptar" (click)="edit ? updateMedidas() : saveMedidas()">ACEPTAR</button>

            </div>
        </div>


    </div>
</p-card>