<div class="preloaderConsulta" *ngIf="isloading">
    <div class="spinConsulta">
        <div class="cube1Consulta"></div>
        <div class="cube2Consulta"></div>
    </div>
</div>


<div class="card" style="margin-top: 10px;">
    <div class="tittle__izq p-d-inline-flex p-ai-center">
        <i class="fas fa-file-pdf" style="margin-top: 10px; margin-left: 10px;">
        </i>
        <b>Lista de las facturas </b>
    </div>

    <div class="header titulo">

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <label id="lblFechaDesde" class="letter" for="lblFechaDesde">Fecha Desde:</label>
                </div>
                <div class="col-md-2">
                    <p-calendar [locale]="es" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.i" [monthNavigator]="true" [yearNavigator]="true" yearRange="2005:2060" dateFormat="yy-mm-dd" inputId="navigators">
                    </p-calendar>
                </div>
                <div class="col-md-2">
                    <label id="lblFechaHasta" class="letter" for="lblFechaHasta">Fecha Hasta:</label>
                </div>
                <div class="col-md-2">
                    <p-calendar [locale]="es" [ngModelOptions]="{standalone: true}" [(ngModel)]="this.f" [monthNavigator]="true" [yearNavigator]="true" yearRange="2005:2060" dateFormat="yy-mm-dd" inputId="navigators">
                    </p-calendar>

                </div>
                <div class="col-md-1">
                    <label id="lblLocal" class="letter" for="lblFechaHasta">Local:</label>
                </div>
                <div class="col-md-2">
                    <p-dropdown [options]="itemsaux" placeholder="Seleccionar un Punto Venta" optionLabel="nombreLocal" (onChange)=" getFindInventarioPuntoVenta($event.value.idPuntosVenta)"></p-dropdown>

                </div>



            </div>
            
            <div class="row">
                <div class="col-md-2">
                    <label id="lblPago" class="letter" for="pago">T. Pago</label>
                </div>
                <div class="col-md-2">
                    <select placeholder="Tipo de Pago" class="form-control" [(ngModel)]="tipoPago" id="pago" name="pago" required>
                        <option value="" disabled selected>Selecione tipo de pago</option>
                        <option value=ALL >ALL</option>
                        <option value=EFECTIVO >EFECTIVO</option>
                        <option value=TRANSFERENCIA>TRASFERENCIA</option>
                        <option value=CHEQUE>CHEQUE</option>
                        <option value=DEPOSITO>DEPÓSITO</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button (click)="getfacturaFecha()" class="botonNuevo boton__dere btn btn-primary">Consultar</button>

                    <button (click)="imprimirfacturaFecha()" class="botonNuevo boton__dere btn btn-primary">Imprimir</button>

                </div>

            </div>

        </div>






    </div>


    <p-table #dt2 [value]="facturafecha" [responsive]="true" selectionMode="single" [(selection)]="selectedFactura" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th class="card__word--header">Numero de Factura
                </th>
                <th class="card__word--header">Fecha Venta
                </th>
                <th class="card__word--header">Total de Venta
                </th>
                <th class="card__word--header">Estado
                </th>
                <th class="card__word--header">T. Pago
                </th>
                <th class="card__word--header">Cajero
                </th>
                <th class="card__word--header">Cliente
                </th>
                <th class="card__word--header">Opciones
                </th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-factura>
            <tr [pSelectableRow]="factura">
                <td class="card__word--row">
                    <span class="p-column-title">Numero de Factura</span> {{factura.idCabezaFac}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Fecha Venta</span> {{factura.fechaFactu}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Total de Venta</span> {{factura.total}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Estado</span> {{factura.estado}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">T. Pago</span> {{factura.tipoPago}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Cajero</span> {{factura.usUser.nombre}} {{factura.usUser.apellido}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Cliente</span> {{factura.venCliente.nombreCli}} {{factura.venCliente.apellidoCli}}
                </td>

                <td><span class="p-column-title">Ver</span><button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info" (click)="mostrarTicket(factura.idCabezaFac)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" pTooltip="Anular" [disabled]="factura.estado == 'AN'" tooltipPosition="top" (click)="anularFactura(factura.idCabezaFac)"></button>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No hay datos</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="container-fluid">


                <div class="row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2" style="text-align: right;">
                        <label for="PrecioDis">TOTAL $</label>
                    </div>
                    <div class="col-md-2"> <input type="text" class="form-control" [(ngModel)]="this.totalVenta" placeholder="Total">
                    </div>
                </div>

            </div>

        </ng-template>
    </p-table>
</div>