<p-card header="{{creacion}} Porcentajes IVA">
    <button pButton pRipple type="button" pTooltip="REGRESAR" tooltipPosition="top" icon="pi pi-angle-double-left" class="p-button-rounded p-button-danger" routerLink="/admin/percentage"></button>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <input type="text" class="form-control" [(ngModel)]="porcentajes.nombrePorcentaje" id="nombre" name="nombre" placeholder="Nombre del porcentaje">

            </div>
            <div class="col-md-6">
                <input type="number" class="form-control" [(ngModel)]="porcentajes.valorPorcentaje" id="valor" name="valor" placeholder="Valor del porcentaje">

            </div>
            <div class="col-md-6">
                <input type="text" class="form-control" [(ngModel)]="porcentajes.codigoPorcentaje" id="codigoPorcentaje" name="codigoPorcentaje" placeholder="Código del porcentaje">

            </div>
        </div>
        <div class="row boton__menu">

            <div class="form-group">
                <button class="botonAceptar" (click)="edit ? updatePorcentaje() : savePorcentaje()">ACEPTAR</button>

            </div>
        </div>


    </div>
</p-card>