<div class="preloaderConsulta" *ngIf="isloading">
    <div class="spinConsulta">
        <div class="cube1Consulta"></div>
        <div class="cube2Consulta"></div>
    </div>
</div>


<nav class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg">
                    <!-- <a data-scroll-nav="0" class="navbar-brand" href="#banner">
                        <img class="logo--logo" src="../../../assets/img/logo.jpeg" width="80px" style="align-self: center;" alt="Logo">
                    </a> -->


                    <!-- Logo -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="bar-icon"></span>
                        <span class="bar-icon"></span>
                        <span class="bar-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul id="nav" class="navbar-nav ml-auto">

                            <li class="nav-item">
                                <a data-scroll-nav="0" href="#product">Tienda</a>
                            </li>


                            <li class="nav-item">
                                <a data-scroll-nav="0" href="#team">Puntos de Venta</a>
                            </li>


                            <li class="nav-item">
                                <a data-scroll-nav="0" href="#about">Acerca de Nosotros</a>
                            </li>
                            <li class="nav-item" *ngIf="activarButton">
                                <a [routerLink]="['/login']" routerLinkActive="router-link-active">Entrar|Registarse</a>
                            </li>
                            <li class="nav-item" *ngIf="activarSesion">
                                <a pTooltip="{{usuariologeadosesion}}" [routerLink]="" routerLinkActive="router-link-active" (click)="closesesion()">
                                    <i class="far fa-user-circle"></i>Cerrar Sesión</a>
                            </li>
                        </ul>


                        <!-- <div class="cart box_1">
                            <a (click)="ShowCarrito()">
                                <h3>
                                    <div class="total">
                                        <span>$ {{this.valorTotalCarrito}}</span>
                                    </div>
                                    <img src="../../../assets/images/cart.png" alt="" />
                                </h3>
                            </a>
                            <p>Ver Productos</p>

                        </div> -->
                        <div class="cart box_1">
                            <a (click)="ShowCarrito()">
                                <h3>
                                    <i class="fas fa-shopping-cart"></i>
                                    <div class="total">
                                        $ {{this.valorTotalCarrito}}
                                    </div>

                                </h3>
                            </a>
                            <p>Ver Productos</p>

                        </div>
                        <div class="clearfix"> </div>



                        <!-- navbar nav -->
                    </div>
                </nav>
                <!-- navbar -->
            </div>

        </div>
        <!-- row -->
    </div>
    <!-- container -->
</nav>

<!--====== HEADER PART ENDS ======-->

<!--====== SLIDER PART START ======-->
<div id="banner" class="pagina__index" *ngIf="mostrarInicio">
    <div class="slider__content">
        <div class="slider__kaleth">

            <input type="radio" name="slider-1" id="radio-1" checked>
            <input type="radio" name="slider-1" id="radio-2">
            <input type="radio" name="slider-1" id="radio-3">


            <div class="card__kaleth">
                <label class="imgcard1" for="radio-1" id="card-1" class="cardd">
                    <img src="{{this.urlFotoBanner1}}" alt="">
                </label>
                <label class="imgcard2" for="radio-2" id="card-2" class="cardd">
                    <img src="{{this.urlFotoBanner2}}" alt="">
                </label>
                <label class="imgcard3" for="radio-3" id="card-3" class="cardd">
                    <img src="{{this.urlFotoBanner3}}" alt="">
                </label>
            </div>


        </div>

    </div>



    <div id="product" class="">


        <div class="container">

            <div class="content-top">
                <h1>TIENDA</h1>
                <div class="paginatorkaleth">
                    <p-paginator [first]="1" [rows]="1" [totalRecords]="cantidadExistente" (onPageChange)="paginate($event)" [showJumpToPageDropdown]="true" [showPageLinks]="false">
                    </p-paginator>
                </div>

                <div class="content-top1" *ngFor="let stocks of stock; let i=index">
                    <div class="col-md-3 col-md2">

                        <div class="tarjeta">
                            <div class="tarjeta__imagen">
                                <img src="{{stocks.catProducto.urlFoto1}}" alt="{{stocks.catProducto.catCategoria.nombreCategoria}} - 
                                {{stocks.catProducto.detalle}}">
                                <!-- <a (click)="modal()"><i class="far fa-eye"></i></a> -->
                                <a (click)="showDialogImagenes(stocks)" [routerLink]="" routerLinkActive="router-link-active"><i class="far fa-eye"></i></a>

                            </div>
                            <h5>
                                {{stocks.catProducto.catCategoria.nombreCategoria}} - {{stocks.catProducto.detalle}}

                            </h5>
                            <h5>
                                {{stocks.catProducto.valorMedida+stocks.catProducto.catMedida.abreviacion}}
                            </h5>
                            <div class="row">
                                <div class="col-md-12 texto1">
                                    ${{stocks.precioUnit}}

                                </div>
                            </div>
                            <!-- <div class="row tarjeta__contenido--boton">
                                <div class="col-md-12 ">
                                    <button pButton class="boton--center p-button-rounded p-button-danger p-button-sm" [disabled]="stocks.cantidad <=0" type="button" icon="fa fa-cart-plus" iconPos="left" (click)="Agregar(stocks)"></button>
                                </div>
                            </div> -->
                            <div class="row tarjeta__contenido--icon" *ngIf="stocks.cantidad >0">

                                <!-- <button pButton class="boton--center p-button-rounded p-button-danger p-button-sm" [disabled]="stocks.cantidad <=0" type="button" icon="fa fa-cart-plus" iconPos="left" (click)="Agregar(stocks)"></button> -->
                                <a type="submit" (click)="Agregar(stocks)">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </a>

                            </div>
                            <div class="row tarjeta__contenido--icon2" *ngIf="stocks.cantidad <= 0">

                                <!-- <button pButton class="boton--center p-button-rounded p-button-danger p-button-sm" [disabled]="stocks.cantidad <=0" type="button" icon="fa fa-cart-plus" iconPos="left" (click)="Agregar(stocks)"></button> -->
                                <a type="submit">
                                    <i class="fas fa-cart-arrow-down"></i>
                                </a>

                            </div>
                            <!-- <div class="tarjeta__contenido">
                                <div class="tarjeta__contenido---titulo">
                                    <h3>
                                        {{stocks.catProducto.catCategoria.nombreCategoria}} - {{stocks.catProducto.detalle}}

                                    </h3>

                                </div>

                                <div class="container-fluid tarjeta__contenido--detalle">
                                    <div class="row">
                                        <div class="col-md-12 talla">

                                            {{stocks.catProducto.valorMedida+stocks.catProducto.catMedida.abreviacion}}

                                        </div>

                                    </div>



                                    <div class="row">
                                        <div class="col-md-12 texto1">
                                            ${{stocks.precioUnit}}

                                        </div>
                                    </div>

                                </div>
                            </div> -->
                            <div class="tarjeta__contenido2">


                                <div [ngClass]="{'badgeoutofstock': stocks.cantidad <= 0, 'badgeinstock': stocks.cantidad >=1 }">
                                    <span class="titulo__status--stock"></span>

                                </div>


                            </div>
                        </div>
                        <div *ngIf="i==3||i==7||i==11">

                            <div class="content-top1">
                                <div class="col-md-3 col-md2">
                                    <h1></h1>
                                </div>


                                <div class="clearfix"> </div>

                            </div>
                        </div>


                    </div>

                </div>

                <!-- AQUI -->
            </div>
        </div>

    </div>


    <section id="team" class="team-area pt-100">


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-25 content-top">
                        <h1>Encuéntranos</h1>
                        <p>{{this.mensajePuntosVenta}}</p>
                    </div>
                    <!-- section title -->
                </div>
            </div>
            <!-- row -->
            <div class="row justify-content-center">


                <div class="col-lg-4 col-md-6 col-sm-8" *ngFor="let puntosVenta of puntosVentas; let i=index">
                    <div class="single-temp text-center mt-30">
                        <div class="team-image">

                            <!-- <iframe src="{{this.urlSafe}}" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
                        </div>
                        <div class="team-content mt-30">
                            <h4 class="title mb-10" *ngIf="i==0"><a href="#">Local Principal</a></h4>
                            <h4 class="title mb-10" *ngIf="i>0"><a href="#">Local Secundario</a></h4>


                            <span>{{puntosVenta.nombreLocal}}</span>
                            <span>{{puntosVenta.direccion}}</span>
                            <span>{{puntosVenta.telefono}}</span>
                        </div>
                    </div>
                    <!-- single temp -->
                </div>

            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>

    <!--====== FOOTER PART START ======-->

    <footer id="about" class="footer-area">
        <!-- edición parte de conocenos -->



        <!-- fin edición parte de conocenos -->





        <div class="container-fluid claseFooter">
            <div class="footer-widget pt-75 pb-120">
                <div class="contentFooter">
                    <div class="contenedor">
                        <div class="claseMision">
                            <h3>¿QUIENES SOMOS?</h3>
                            <label>{{this.conocenos}}</label>
                            <div class="footer-logo mt-40">
                                <ul class="footer-social mt-25">
                                    <li><a href="#"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="claseMision">
                            <h3>MISIÓN</h3>
                            <label>{{this.mision}}</label>
                        </div>
                        <div class="claseMision">
                            <h3>VISIÓN</h3>
                            <label>{{this.vision}}</label>
                        </div>
                        <div class="claseMision">
                            <a href="#">
                                <img src="../../../assets/img/logo.jpeg" alt="Logo" width="200px">
                            </a>
                        </div>



                    </div>
                </div>


                <!-- row -->
            </div>
            <!-- footer widget -->
            <div class="footer-copyright pt-15 pb-15">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright text-center">
                            <p></p>
                        </div>
                        <!-- copyright -->
                    </div>
                </div>
                <!-- row -->
            </div>
            <!--  footer copyright -->
        </div>
        <!-- container -->
    </footer>

    <!-- este div es el nuevo para cerrar desde el header -->

</div>


<div *ngIf="mostrarCarrito" class="contenedor">
    <div class="contentCarritoTabla">

        <h3 class="titulo__carrito ">MI CARRITO</h3>

        <button pButton pRipple type="button" icon="pi pi-angle-double-left" class="p-button-rounded p-button-danger" (click)="ShowInicio()"> </button>

        <p-table #dt2 [value]="listaCheckout" [responsive]="true" selectionMode="single" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
            <ng-template pTemplate="header">
                <tr>
                    <th class="card__word--header">Items
                    </th>
                    <th class="card__word--header">Productos
                    </th>
                    <th class="card__word--header">Precios
                    </th>
                    <th class="card__word--header">Cantidad
                    </th>
                    <th class="card__word--header">Detalles
                    </th>
                    <th class="card__word--header">Subtotal
                    </th>
                    <th class="card__word--header">Eliminar
                    </th>

                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-listacarrito>
                <tr [pSelectableRow]="listacarrito" class="estiloFila">
                    <td class="card__word--row">
                        <span class="p-column-title">Items</span>
                        <img src="{{listacarrito.catProducto.urlFoto1}}" width="100px" height="120px">

                    </td>
                    <td class="card__word--row">
                        <span class="p-column-title">Producto</span>
                        <h5>{{listacarrito.catProducto.catCategoria.nombreCategoria}}</h5>
                        <h5> {{listacarrito.descripcion}} </h5>
                    </td>
                    <td class="card__word--row">
                        <span class="p-column-title">Precios</span> $ {{listacarrito.valorUnit}}
                    </td>
                    <td class="card__word--row">
                        <span class="p-column-title">Cantidad</span>
                        <p-inputNumber [(ngModel)]="listacarrito.cantidadPe" class="spiner" width="100px" (onInput)="obtenerCantidad(listacarrito.cantidadPe, listacarrito.catProducto.idProductos, listacarrito.catPuntosVenta.idPuntosVenta)" [showButtons]="true" inputId="minmax-buttons"
                            [min]="0" [max]="100"></p-inputNumber>
                        <!-- <input type="number" class="p-inputtext-sm" placeholder="Small" pInputText > -->
                    </td>
                    <td class="card__word--row">
                        <span class="p-column-title">Detalles</span>
                        <h5>Envio Acordar con el administrador</h5>
                    </td>
                    <td class="card__word--row">
                        <span class="p-column-title">Subtotal</span> $ {{listacarrito.valorTotal}}
                    </td>


                    <td class="card__word--row">
                        <span class="p-column-title">Opciones</span>
                        <button pButton pRipple icon="fa fa-trash" class="boton__derecho p-button-rounded p-button-danger p-mr-2" (click)="quitardelista(listacarrito.catProducto.idProductos, listacarrito.catPuntosVenta.idPuntosVenta)"></button>
                    </td>


                </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="4">No encontro Pedidos</td>
                </tr>
            </ng-template>
        </p-table>

    </div>

    <div class="contentCarritoPedido">
        <h3 class="tituloResumen">RESUMEN COMPRA</h3>

        <div class="primeraColumna">
            <h1 class="letras">Subtotal x artículos</h1>
            <h1 class="letras">IVA</h1>
            <h1 class="letras">Total</h1>

        </div>
        <div class="segundaColumna">

            <h1 class="letras">$ {{this.valorTotalCarrito}}</h1>
            <h1 class="letras">00,00</h1>
            <h1 class="letras">$ {{this.valorTotalCarrito}}</h1>
        </div>
        <button pButton pRipple type="button" class="botonPedido" (click)="generarPedido()">GENERAR PEDIDO</button>
    </div>






</div>


<p-dialog position="center" [(visible)]="displayImagenes">
    <div class="contentImages">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7">

                    <p-galleria [(value)]="images" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '640px'}" [numVisible]="7" [circular]="true" [autoPlay]="true" [transitionInterval]="2000">
                        <ng-template pTemplate="item" let-item>
                            <img [src]="item.urlFoto" class="fotoGrande" />
                        </ng-template>

                        <ng-template pTemplate="thumbnail" let-item>
                            <div class="p-grid p-nogutter p-justify-center">
                                <img [src]="item.urlFoto" style=" width: 100px;
                            height: 125px;display: block;" />
                            </div>
                        </ng-template>

                    </p-galleria>
                </div>
                <div class="col-md-4">
                    <div class="row">

                        <h3 class="nombreDetallee">{{detalle}}</h3>

                        <label class="precioModal">${{precioModal}}</label>
                    </div>
                    <div class="row">
                        <p class="detalleProducto">{{detalle2}}</p>

                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <!-- <button pButton class="botonCarrito" type="button" icon="fa fa-cart-plus" iconPos="left" label="AÑADIR AL CARRITO"></button> -->

                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</p-dialog>