<div class="preloaderConsulta" *ngIf="isloading">
    <div class="spinConsulta">
        <div class="cube1Consulta"></div>
        <div class="cube2Consulta"></div>
    </div>
</div>


<p-card header="{{creacion}} Producto">

    <div class="container-fluid">

        <div class="form-group">
        </div>
    </div>

    <button pButton pRipple type="button" pTooltip="REGRESAR" tooltipPosition="top" icon="pi pi-angle-double-left" class="p-button-rounded p-button-danger" routerLink="/admin/percentage"></button>


    <div class="p-col">
        <h4>Seleccione Categoria:</h4>
        <p-dropdown [options]="categoria" [(ngModel)]="categoriaEscogida" placeholder="Seleccionar una Categoria" optionLabel="nombreCategoria" [showClear]="true"></p-dropdown>
    </div>

    <div class="p-col">
        <h4>Seleccione Medida:</h4>
        <p-dropdown [options]="medidas" [(ngModel)]="medidaEscogida" placeholder="Seleccionar una  Medida" optionLabel="medida" [showClear]="true"></p-dropdown>
    </div>
    <div class="form-group">
        <label for="valorMedida">Valor Medida</label>
        <input type="text" class="form-control" [(ngModel)]="productos.valorMedida" id="valorMedida" name="valorMedida" placeholder="Ingrese valor de la medida del producto">

    </div>
    <div class="p-col">
        <h4>Seleccione IVA:</h4>
        <p-dropdown [options]="porcentaje" [(ngModel)]="porcentajeEscogida" placeholder="Seleccionar un valor del IVA" optionLabel="nombrePorcentaje" [showClear]="true"></p-dropdown>
    </div>
    <div class="form-group">
        <label for="codigoPro">Código</label>
        <input type="text" class="form-control" [(ngModel)]="productos.codProducto" id="codigo" name="codigo" placeholder="Ingrese codigo del producto">

    </div>
    <div class="form-group">
        <label for="detalle">Detalle</label>
        <input type="text" class="form-control" [(ngModel)]="productos.detalle" id="detalle" name="detalle" placeholder="Ingrese detalle o descripción del producto">

    </div>
    <div>Ingrese Imagen 1
        <input class="form-control" id="formFile" type="file" accept="image/*" (change)="onBasicUpload1($event)">
    </div>
    <img src="{{imagenObtenidaMostrar1}}" width="100px">
    <div>Ingrese Imagen 2
        <input class="form-control" id="formFile" type="file" accept="image/*" (change)="onBasicUpload2($event)">
    </div>
    <img src="{{imagenObtenidaMostrar2}}" width="100px">
    <div>Ingrese Imagen 3
        <input class="form-control" id="formFile" type="file" accept="image/*" (change)="onBasicUpload3($event)">
    </div>
    <img src="{{imagenObtenidaMostrar3}}" width="100px">


    <!-- <img src="{{imagenObtenidaMostrar}}" alt="Imagen nueva" width="200px"> -->
    <div class="row boton__menu">


        <div class="form-group">
            <button class="botonAceptar" (click)="edit ? updateProductos() : saveProductos()">Aceptar</button>
            <!-- <button type="button" class="btn btn-info boton__dere" routerLink="/admin/product">Regresar</button> -->
        </div>
    </div>

</p-card>