.boton__menu{
    margin-top: 1em;
}
.boton__dere{
    margin-left: 1em;
}
.botonAceptar {
    /* background-image: linear-gradient(#049696, #0F4365); */
    background-color: #DDC17B;
    font-family: 'Montserrat-bold';
    width: 90px;
    height: 35px;
    margin-top: 4.8vh;
    margin-left: 4.8vh;
    border-radius: 5px;
    border-color: #DDC17B;
}

.botonAceptar:hover {
    /* background-image: linear-gradient(#049696, #0F4365); */
    background-color: #9E9E9E;
    border-color: #9E9E9E;
   
}