<div class="preloaderConsulta" *ngIf="isloading">
    <div class="spinConsulta">
        <div class="cube1Consulta"></div>
        <div class="cube2Consulta"></div>
    </div>
</div>

<!-- <div class="card">

    <div class="container-fluid" style="margin: 15px;">
        <div class="row">
            <div class="col-md-1">
                <label id="lblCedula" class="letter" for="cedula">Cedula: *</label>
            </div>
            <div class="col-md-3">
                <input required type="text" pKeyFilter="num" maxlength=13 [disabled]="disabled" pTooltip="Ingrese la Cedula del cliente" tooltipPosition="top" class="form-control" [(ngModel)]="this.cedula" id="cedula" (input)="encontrarCliente($event.target.value)" (keyup.enter)="buscarClienteByCedula()"
                    name="Cedula" placeholder="Cedula">
            </div>

            <div class="col-md-1">
                <label id="lblNombre" class="letter" for="nombre">Nombre: *</label>

            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="this.nombreCliente" id="nombre" name="nombre" placeholder="Nombre">

            </div>
            <div class="col-md-1">
                <label id="lblApellido" class="letter" for="apellido">Apellido: </label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="this.apellidoCliente" id="apellido" name="apellido" placeholder="Apellido">

            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label id="lblTelefono" class="letter" for="teleofno">Telefono: *</label>
            </div>
            <div class="col-md-3">
                <input type="text" pKeyFilter="num" maxlength=10 class="form-control" [disabled]="disabled" [(ngModel)]="this.telefono" id="telefono" name="telefono" placeholder="Telefono">

            </div>
            <div class="col-md-1">
                <label id="lblCorreo" class="letter" for="email">Email: *</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="this.email" id="email" name="email" placeholder="Email">

            </div>
            <div class="col-md-1">
                <label id="lblDireccion" class="letter" for="direccion">Dirección: *</label>

            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="this.direccion" id="direccion" name="direccion" placeholder="Direccion">

            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <label id="lblCodidoPro" class="letter" for="codigo">Código</label>
            </div>
            <div class="col-md-1">
                <input style="min-width:85px;" type="text" pTooltip="CODIGO DEL PRODUCTO" tooltipPosition="top" (input)="encontrarProducto($event.target.value)" class="form-control" [(ngModel)]="this.codigoProducto" id="codigo" (keyup.enter)="buscarStockProducto()" name="codigo"
                    placeholder="Codigo">

            </div>
            <div class="col-md-1"><label style="text-align: right;" class="letter" id="lblDetalle" for="detalle">Detalle</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" [(ngModel)]="this.detalle" id="detalle" name="detalle" placeholder="Detalle">

            </div>

            <div class="col-md-2" style="margin-top: 5px;">
                <div class="row">

                    <div class="col-md-6">
                        <label id="lblCantidad" class="letter" for="cantidad">Cant</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" [(ngModel)]="this.cantidad" id="cantidad" name="cantidad" placeholder="Cantidad" value="100">

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label id="lblPago" class="letter" for="pago">T. Pago*</label>
                    </div>
                    <div class="col-md-6">
                        <select placeholder="Tipo de Pago" class="form-control" [(ngModel)]="tipoPago" id="pago" name="pago" required>
                            <option value="" disabled selected>Selecione tipo de pago</option>
                            <option value=EFECTIVO>EFECTIVO</option>
                            <option value=TRANSFERENCIA>TRASFERENCIA</option>
                            <option value=CHEQUE>CHEQUE</option>
                            <option value=DEPOSITO>DEPÓSITO</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="col-md-2" style="margin-top: 5px;">
                
                <div class="row">
                    <div class="col-md-6">
                        <label class="letter">P.Unit</label>
                    </div>
                    <div class="col-md-6">
                        <input checked class="letter" id="primerRadio" type="radio" name="precio" (change)="radioChangeHandler($event)" value="{{precioUnit}}">$ {{precioUnit}}

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"> <label class="letter">P.May</label>
                    </div>
                    <div class="col-md-6">
                        <input class="letter" type="radio" name="precio" (change)="radioChangeHandler($event)" value="{{precioMay}}">$ {{precioMay}}

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"> <label class="letter">P.Dis</label>
                    </div>
                    <div class="col-md-6">
                        <input class="letter" type="radio" name="precio" (change)="radioChangeHandler($event)" value="{{precioDis}}">$ {{precioDis}}

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"> <label class="letter">P.Bult</label>
                    </div>
                    <div class="col-md-6">
                        <input class="letter" type="radio" name="precio" (change)="radioChangeHandler($event)" value="{{precioBulto}}">$ {{precioBulto}}

                    </div>
                </div>










            </div>
        </div>

        <div class="row">

            <div class="col-md-4 boton__menu">

                <button pButton type="button" class="btn__size p-button-raised p-button-rounded p-button-sm" icon="far fa-check-square" iconPos="left" label="Agregar" (click)="Agregar()"></button>


                <button pButton class="btn__size p-button-raised p-button-rounded p-button-sm p-button-success" label="Vender" icon="fas fa-cash-register" iconPos="left" (click)="Vender()">
                </button>
                <button pButton class="btn__size p-button-raised p-button-rounded p-button-sm p-button-warning" label="Consultar" icon="fas fa-search-plus" iconPos="left" (click)="showConsultar()">
                </button>
               
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-3" style=" background-color: #f8f9fa;  margin-top: 10px;">
                <label style="margin: 10px; color: #b2b2b2;" id="lblCantidadDisponible" for="lblCantidadDisponible">Cant
                    Disponible: {{this.cantidadDisponible}}</label>

            </div>



        </div>


    </div>





    <p-table #dt2 [value]="listaDetalleFactura" [responsive]="true" selectionMode="single" [(selection)]="selectedDetalles" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>

                <th class="card__word--header" style="width: 80px;">Item</th>
                <th class="card__word--header">Descripcion</th>
                <th class="card__word--header" style="width: 90px;">Cant</th>
                <th class="card__word--header" style="width: 90px;">P. Unit</th>
                <th class="card__word--header" style="width: 90px;">P. Total</th>
                <th class="card__word--header" style="width: 90px;">P. Total Mas Iva</th>
                <th class="card__word--header" style="width: 90px;">Iva</th>
                <th class="card__word--header" style="width: 90px;"></th>

            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-detalle let-index="rowIndex">
            <tr [pSelectableRow]="detalle">


                <td class="card__word--row">
                    <span class="p-column-title">Item</span> {{index+1}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Descripcion</span> {{detalle.descripcion}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Cant</span> {{detalle.cantidadFact}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">P. Unidad</span> {{detalle.valorUnitSinIva}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">P. Unidad</span> {{detalle.valorTotalSinIva}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">P. Total</span> {{detalle.valorTotal}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">P. Total</span> {{detalle.ivaProducto}}
                </td>
                <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarProductodeList(detalle.catStock.id.idProductos)"></button></td>




            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">No hay detalles de la factura </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="summary">
            <div class="container-fluid">


                <div class="row">
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-2">
                         </div>
                    <div class="col-md-2">
                        
                    </div>
                    <div class="col-md-1">
                    </div>


                    <div class="col-md-5" style="text-align: right;">

                        <div class="row">
                            <div class="col-md-7">
                                <label for="PrecioDis">SUB TOTAL 12%</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" [(ngModel)]="this.subtotalIva12" placeholder="Total">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label for="PrecioDis">SUB TOTAL 0%</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" [(ngModel)]="this.subtotalIva0" placeholder="Total">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label for="PrecioDis">SUB TOTAL SIN IMPUESTO $</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" [(ngModel)]="this.subtotalFactura" placeholder="Total">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <label for="PrecioDis">IVA 12 % $</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" [(ngModel)]="this.ivaFactura" placeholder="Total">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-7">
                                <label for="PrecioDis">TOTAL $</label>
                            </div>
                            <div class="col-md-5">
                                <input type="text" class="form-control" [(ngModel)]="this.totalVenta" placeholder="Total">
                            </div>
                        </div>



                    </div>

                </div>

            </div>

        </ng-template>
    </p-table>
</div>
 -->



<div class="card">

    <div class="content">
        <div class="col-md-4 ">

            <div class="row">

                <div class="col-md-4">
                    <label id="lblCedula" class="letter" for="cedula">Cedula: *</label>
                </div>
                <div class="col-md-8">
                    <input required type="text" pKeyFilter="num" maxlength=13 [disabled]="disabled" pTooltip="Ingrese la Cedula del cliente" tooltipPosition="top" class="form-control " [(ngModel)]="this.cedula" id="cedula" (input)="encontrarCliente($event.target.value)"
                        (keyup.enter)="buscarClienteByCedula()" name="Cedula" placeholder="Cedula">
                </div>

            </div>
            <div class="row">

                <div class="col-md-4">
                    <label id="lblNombre" class="letter" for="nombre">Nombre: *</label>

                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="this.nombreCliente" id="nombre" name="nombre" placeholder="Nombre">

                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <label id="lblApellido" class="letter" for="apellido">Apellido: </label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="this.apellidoCliente" id="apellido" name="apellido" placeholder="Apellido">

                </div>
            </div>

            <div class="row">

                <div class="col-md-4">
                    <label id="lblTelefono" class="letter" for="teleofno">Telefono: *</label>
                </div>
                <div class="col-md-8">
                    <input type="text" pKeyFilter="num" maxlength=10 class="form-control" [disabled]="disabled" [(ngModel)]="this.telefono" id="telefono" name="telefono" placeholder="Telefono">

                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <label id="lblCorreo" class="letter" for="email">Email: *</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="this.email" id="email" name="email" placeholder="Email">

                </div>
            </div>

            <div class="row">


                <div class="col-md-4">
                    <label id="lblDireccion" class="letter" for="direccion">Dirección: *</label>

                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" [disabled]="disabled" [(ngModel)]="this.direccion" id="direccion" name="direccion" placeholder="Direccion">

                </div>
            </div>


            <!-- <div class="row"> -->
            <div class="row">

                <div class="col-md-3">
                    <label id="lblCodidoPro" class="letter" for="codigo">Código</label>
                </div>
                <div class="col-md-3">
                    <input type="text" pKeyFilter="int" pTooltip="CODIGO DEL PRODUCTO" tooltipPosition="top" (input)="encontrarProducto($event.target.value)" class="form-control" [(ngModel)]="this.codigoProducto" id="codigo" (keyup.enter)="buscarStockProducto()" name="codigo"
                        placeholder="Codigo">

                </div>
                <div class="col-md-3">
                    <label id="lblCantidad" class="letter" for="cantidad">Cant</label>
                </div>
                <div class="col-md-3">
                    <input type="text" pKeyFilter="int" class="form-control" [(ngModel)]="this.cantidad" id="cantidad" name="cantidad" placeholder="Cantidad" value="100">

                </div>

                <div class="col-md-6" style=" background-color: #f8f9fa;  margin-top: 10px;">
                    <label style="margin: 10px; color: #b2b2b2;" id="lblCantidadDisponible" for="lblCantidadDisponible">Cant
                        Dispo: {{this.cantidadDisponible}}</label>

                </div>
                <div class="col-md-6" style=" background-color: #f8f9fa;  margin-top: 10px;">
                    <div class="col-md-6">
                        <label class="letter1">Factura</label>

                        <input checked id="primerRadioFact" type="radio" name="tipofact" (change)="radioChangeHandlerTipoFact($event)" value="{{fact}}">

                    </div>
                    <div class="col-md-6">
                        <label class="letter1">N. Venta</label>

                        <input type="radio" name="tipofact" (change)="radioChangeHandlerTipoFact($event)" value="{{notaVenta}}">

                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-md-12"><label style="text-align: right;" class="letter" id="lblDetalle" for="detalle">Detalle</label>
                </div>
                <div class="col-md-12">
                    <input type="text" class="form-control" [(ngModel)]="this.detalle" id="detalle" name="detalle" placeholder="Detalle">

                </div>

            </div>

            <div class="row">

            </div>
            <div class="col-md-12" style="margin-top: 5px;">
                <div class="row">
                    <div class="col-md-6">
                        <label id="lblPago" class="letter" for="pago">T. Pago*</label>
                    </div>
                    <div class="col-md-6">
                        <select placeholder="Tipo de Pago" class="form-control" [(ngModel)]="tipoPago" id="pago" name="pago" required>
                            <option value="" disabled selected>Selecione tipo de pago</option>
                            <option value=EFECTIVO>EFECTIVO</option>
                            <option value=TRANSFERENCIA>TRASFERENCIA</option>
                            <option value=CHEQUE>CHEQUE</option>
                            <option value=DEPOSITO>DEPÓSITO</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12" style="margin-top: 5px;">

                    <div class="row">
                        <div class="col-md-6">
                            <label class="letter">P.Unit</label>
                        </div>
                        <div class="col-md-6">
                            <input checked class="letter" id="primerRadio" type="radio" name="precio" (change)="radioChangeHandler($event)" value="{{precioUnit}}">$ {{precioUnit}}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"> <label class="letter">P.May</label>
                        </div>
                        <div class="col-md-6">
                            <input class="letter" type="radio" name="precio" (change)="radioChangeHandler($event)" value="{{precioMay}}">$ {{precioMay}}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"> <label class="letter">P.Dis</label>
                        </div>
                        <div class="col-md-6">
                            <input class="letter" type="radio" name="precio" (change)="radioChangeHandler($event)" value="{{precioDis}}">$ {{precioDis}}

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6"> <label class="letter">P.Bult</label>
                        </div>
                        <div class="col-md-6">
                            <input class="letter" type="radio" name="precio" (change)="radioChangeHandler($event)" value="{{precioBulto}}">$ {{precioBulto}}

                        </div>
                    </div>

                </div>
            </div>

            <!-- </div> -->

            <div class="row">

                <div class="col-md-12 boton__menu">

                    <button pButton type="button" class="btn__size p-button-raised p-button-rounded p-button-sm" icon="far fa-check-square" iconPos="left" label="Agregar" (click)="Agregar()"></button>


                    <button pButton class="btn__size p-button-raised p-button-rounded p-button-sm p-button-success" label="Vender" icon="fas fa-cash-register" iconPos="left" (click)="Vender()">
                    </button>
                    <button pButton class="btn__size p-button-raised p-button-rounded p-button-sm p-button-warning" label="Consultar" icon="fas fa-search-plus" iconPos="left" (click)="showConsultar()">
                    </button>

                </div>



            </div>
            <!-- Final del div -->
        </div>

        <div class="col-md-8">

            <p-table #dt2 [value]="listaDetalleFactura" [responsive]="true" selectionMode="single" [(selection)]="selectedDetalles" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
                <ng-template pTemplate="header">
                    <tr class="card__word--back">

                        <th class="card__word--header">Item</th>
                        <th class="card__word--header">Descripcion</th>
                        <th class="card__word--header">Cant</th>
                        <th class="card__word--header">P. Unit</th>
                        <th class="card__word--header">P. Total</th>
                        <th class="card__word--header">P. Total Mas Iva</th>
                        <th class="card__word--header">Iva</th>
                        <th class="card__word--header">...</th>

                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-detalle let-index="rowIndex">
                    <tr [pSelectableRow]="detalle">


                        <td class="card__word--row">
                            <span class="p-column-title">Item</span> {{index+1}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">Descripcion</span> {{detalle.descripcion}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">Cant</span> {{detalle.cantidadFact}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">P. Unidad</span> {{detalle.valorUnitSinIva}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">P. Unidad</span> {{detalle.valorTotalSinIva}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">P. Total</span> {{detalle.valorTotal}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">P. Total</span> {{detalle.ivaProducto}}
                        </td>
                        <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarProductodeList(detalle.catStock.id.idProductos)"></button></td>


                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="6">No hay detalles de la factura </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <div class="container-fluid">


                        <div class="row">

                            <div class="col-md-12" style="text-align: right;">

                                <div class="row">
                                    <div class="col-md-7">
                                        <label for="PrecioDis">Sub Total 12%</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" [(ngModel)]="this.subtotalIva12" placeholder="Total">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <label for="PrecioDis">Sub Total 0%</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" [(ngModel)]="this.subtotalIva0" placeholder="Total">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <label for="PrecioDis">Sub Total sin Imp $</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" [(ngModel)]="this.subtotalFactura" placeholder="Total">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <label for="PrecioDis">IVA 12 % $</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" [(ngModel)]="this.ivaFactura" placeholder="Total">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-7">
                                        <label for="PrecioDis">TOTAL $</label>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" [(ngModel)]="this.totalVenta" placeholder="Total">
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>

                </ng-template>
            </p-table>
            <!-- Final de la tabla -->
        </div>
        <!-- Fin del 2do espacio -->



    </div>
    <!-- Final del container fluid -->



</div>
<!-- Final del card -->





<p-dialog position="top" [(visible)]="displayConsultar">
    <h5>
        Buscador de Productos</h5>
    <p-card>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <i class="pi pi-search"></i>Buscar Producto: <input pInputText type="text" (input)="encontrarProductoModal($event.target.value)">
                </div>
            </div>

            <p-table #dt2 [value]="stockConsulta" [responsive]="true" selectionMode="single" [(selection)]="selectedStock" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
                <ng-template pTemplate="header">
                    <tr>

                        <th class="card__word--header">Código Pro</th>
                        <th class="card__word--header">Nombre Local</th>
                        <th class="card__word--header">Detalle</th>
                        <th class="card__word--header">Categoria</th>
                        <th class="card__word--header">Foto</th>
                        <th class="card__word--header">Medida</th>
                        <th class="card__word--header">P. Unit</th>
                        <th class="card__word--header">P. May</th>
                        <th class="card__word--header">P. Dis</th>
                        <th class="card__word--header">P. Bulto</th>
                        <th class="card__word--header">Cant</th>
                        <th class="card__word--header">S. Max</th>
                        <th class="card__word--header">S. Min</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-stocks>
                    <tr [pSelectableRow]="stocks" (click)="obtenerVariable(stocks.catProducto.codProducto)">

                        <td class="card__word--row">
                            <span class="p-column-title">Código Pro</span> {{stocks.catProducto.codProducto}}

                        </td>


                        <td class="card__word--row">
                            <span class="p-column-title">Nombre del local</span> {{stocks.catPuntosVenta.nombreLocal}}
                        </td>


                        <td class="card__word--row">
                            <span class="p-column-title">Detalle</span> {{stocks.catProducto.detalle}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">Categoria</span> {{stocks.catProducto.catCategoria.nombreCategoria}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">Foto</span>

                            <img src="{{stocks.catProducto.urlFoto1}}" width="70px" height="100px" class="p-shadow-4" />
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">Medida</span> {{stocks.catProducto.catMedida.medida}}
                        </td>

                        <td class="card__word--row">
                            <span class="p-column-title">P. Unit</span> {{stocks.precioUnit}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">P. May</span> {{stocks.precioMayor}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">P. Dis</span> {{stocks.precioDistribuidor}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">P. Bulto</span> {{stocks.precioBulto}}
                        </td>

                        <td class="card__word--row">
                            <span class="p-column-title">Cant</span> {{stocks.cantidad}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">S. Max</span> {{stocks.stockMax}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">S. Min</span> {{stocks.stockMin}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">No encontro ningun Producto</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>


</p-dialog>