<p-card header="{{creacion}} Punto Venta">
    <div class="container-fluid">
        <button pButton pRipple type="button" pTooltip="REGRESAR" tooltipPosition="top" icon="pi pi-angle-double-left" class="p-button-rounded p-button-danger" routerLink="/admin/sales-points"></button>

        <div class="form-group">
            <label for="nombreLocal">Nombre del Local</label>
            <input type="text" class="form-control" [(ngModel)]="puntosventas.nombreLocal" id="nombrelocal" name="nombrelocal" placeholder="Nombre del Local">

        </div>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" [(ngModel)]="puntosventas.direccion" id="direccion" name="direccion" placeholder="Ingrese la dirección del local">

        </div>
        <div class="form-group">
            <label for="ciudad">Ciudad</label>
            <input type="text" class="form-control" [(ngModel)]="puntosventas.ciudad" id="ciudad" name="ciudad" placeholder="Ingrese Ciudad">

        </div>
        <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" pKeyFilter="num" maxlength=10 class="form-control" [(ngModel)]="puntosventas.telefono" id="telefono" name="telefono" placeholder="Digite el número de teléfono del local">

        </div>
        <div class="form-group">
            <button class="botonAceptar" (click)="edit ? updatePuntosVentas() : savePuntosVentas()">Agregar
                Punto de venta</button>
            <!-- <button type="button" class="btn btn-info boton__dere" routerLink="/admin/sales-points">Regresar</button> -->
        </div>


    </div>
</p-card>