<div class="card">
    <div class="header titulo">

        <div class="tittle__izq p-d-inline-flex p-ai-center">
            <i class="fa fa-tag p-mr-2">
            </i>
            <b>Lista de Productos</b>
            <button pButton type="button" class=" botonNuevo boton__dere  p-button-rounded p-button-sm" routerLink="/admin/product-add">NUEVO</button>
        </div>


    </div>


    <p-table #dt2 [value]="productos" [responsive]="true" selectionMode="single" [(selection)]="selectedProductos" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th class="card__word--header">Categoria
                </th>

                <th class="card__word--header">Detalle
                </th>
                <th class="card__word--header">Medida
                </th>
                <th class="card__word--header">Porcentaje IVA
                </th>
                <th class="card__word--header">Foto 1
                </th>
                <th class="card__word--header">Foto 2
                </th>

                <th class="card__word--header">Foto 3
                </th>
                <th class="card__word--header">Opciones
                </th>


            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-productos>
            <tr [pSelectableRow]="productos">
                <td class="card__word--row">
                    <span class="p-column-title">Categoria</span> {{productos.catCategoria.nombreCategoria}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Detalle</span> {{productos.detalle}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Medida</span> {{productos.valorMedida+productos.catMedida.abreviacion}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">IVA</span> {{productos.catPorcentaje.nombrePorcentaje}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Foto 1</span>
                    <img src="{{productos.urlFoto1}}" width="70px" height="100px" class="p-shadow-4" />

                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Foto 2</span> <img src="{{productos.urlFoto2}}" width="70px" height="100px" class="p-shadow-4" />
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Foto 3</span> <img src="{{productos.urlFoto3}}" width="70px" height="100px" class="p-shadow-4" />
                </td>

                <td class="card__word--row">
                    <span class="p-column-title">Opciones</span>
                    <!-- <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                        (click)="deleteProductos(productos.idProductos)"></button> -->

                    <button pButton pRipple icon="pi pi-pencil" class="boton__derecho p-button-rounded p-button-success p-mr-2" [routerLink]="['/admin/product-edit/',productos.idProductos]"></button>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No encontro Productos</td>
            </tr>
        </ng-template>
    </p-table>
</div>