@font-face {
    font-family: 'Montserrat-bold';
    src: url(../../../assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-light';
    src: url(../../../assets/fonts/Montserrat-Light.ttf) format('truetype');
}

.p-card .ui-acordion {
    padding: 1rem;
    /* background: aqua; */
}

.diseno-formulario {
    width: 10px;
    height: 10px;
}

.inputs__modal--register {
    margin-top: 10px;
}

.label__modal--register {
    margin-top: 10px;
    font-weight: bold;
}


/* edición para el diseño de inisio de sesion  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login__content {
    position: relative;
    width: 37vw;
    height: 85vh;
    padding: 30px;
    margin: auto;
    margin-top: 4.8vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #BFBFBF;
}

.login__content h5 {
    color: #DDC17B;
    text-align: center;
    /* font-family: 'Montserrat-bold'; */
    font-size: 25pt;
}

.login__contentForgotPass {
    position: relative;
    width: 37vw;
    height: 30vh;
    padding: 30px;
    margin: auto;
    margin-top: 4.8vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #BFBFBF;
}

.imagen__logo {
    width: 50%;
}

a {
    color: #9E9E9E;
}

.login__container--titulo {
    font-family: 'Montserrat-bold';
    margin-top: 9.6vh;
    margin-bottom: 9.6vh;
    text-align: center;
}

.login__container {
    width: 80%;
    margin-top: 10vh;
    margin-bottom: 9.6vh;
}

.controls {
    width: 31vw;
    height: 8vh;
    background: #E7E6E1;
    border-radius: 7px;
    border: 1px solid #E7E6E1;
    margin-bottom: 4vh;
}

.controlsPass {
    width: 31vw;
    height: 8vh;
    background: #BFBFBF;
    border-radius: 7px;
    border: 1px solid #BFBFBF;
}

.login__buttons {
    background-image: linear-gradient(#DDC17B, #DDC17B);
    /* font-family: 'Montserrat-bold'; */
    width: 110px;
    height: 35px;
    border: #DDC17B;
}

.login__buttons:hover {
    background-image: linear-gradient(#DDC17B, #DDC17B);
    /* font-family: 'Montserrat-bold'; */
    width: 110px;
    height: 35px;
    border: #DDC17B;
}

.login__buttonsEnviar {
    background-image: linear-gradient(#DDC17B, #DDC17B);
    font-family: 'Montserrat-bold';
    width: 110px;
    height: 35px;
    color: white;
    top: 0.7vh;
    border-radius: 5px;
}

.botonAlinear {
    text-align: center;
}

.alienarResgitrarse {
    text-align: center;
    font-family: 'Montserrat-light';
}

.registrarse {
    margin-top: 4.8vh;
    margin-bottom: 8vh;
    align-items: center;
    text-align: center;
}

.login__salir--button {
    position: absolute;
    top: 1.6vh;
    right: 0.7vw;
    font-size: 30px;
    background-color: transparent;
    color: red;
    font-family: 'Montserrat-bold';
    border: 0;
}


/* Edición css para el formulario de registro */

.login__contentRegistro {
    position: relative;
    width: 40vw;
    height: 120vh;
    padding: 30px;
    margin: auto;
    margin-top: 4.8vh;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #BFBFBF;
}

.login__contentRegistro h5 {
    color: #DDC17B;
    text-align: center;
    font-family: 'Montserrat-bold';
    font-size: 25pt;
}

.login__buttonsRegistrarse {
    text-align: center;
    background-image: linear-gradient(#DDC17B, #DDC17B);
    border: #DDC17B;
    font-family: 'Montserrat-bold';
    width: 130px;
    height: 35px;
    color: white;
    top: 0.7vh;
    border-radius: 5px;
}

.controlsRegistro {
    width: 100%;
    height: 8vh;
    background: #E7E6E1;
    border-radius: 7px;
    border: 1px solid #E7E6E1;
    margin-bottom: 10px;
}

.divPass {
    position: relative;
}

.botonVerPass {
    position: absolute;
    top: 0.4vh;
    right: 0.5vw;
    font-size: 10px;
    background-color: transparent;
    background-image: linear-gradient(#DDC17B, #DDC17B);
    border: 0;
    width: 4px;
    height: 3px;
}

.botonVerPass:hover {
    position: absolute;
    top: 0.4vh;
    right: 0.5vw;
    font-size: 10px;
    background-color: transparent;
    background-image: linear-gradient(#DDC17B, #DDC17B);
    border: 0;
    width: 4px;
    /* height: 3px; */
}


/* edición responsive para dispositovos con la resolución baja  */

@media only screen and (max-width: 768px) {
    .login__content {
        position: relative;
        width: 300px;
        height: 85vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 768px) and (min-width: 600px) {
    .login__contentRegistro {
        position: relative;
        width: 40vw;
        height: 140vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .login__contentRegistro h5 {
        text-align: center;
        font-family: 'Montserrat-bold';
        font-size: 15pt;
    }
    .controls {
        width: 32vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__content {
        position: relative;
        width: 40vw;
        height: 90vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 599px) and (min-width: 499px) {
    .login__contentRegistro {
        position: relative;
        width: 45vw;
        height: 135vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .login__contentRegistro h5 {
        text-align: center;
        font-family: 'Montserrat-bold';
        font-size: 15pt;
    }
    .controlsPass {
        width: 35vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__contentForgotPass {
        position: relative;
        width: 45vw;
        height: 40vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .controls {
        width: 40vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
        margin-bottom: 4vh;
    }
    .login__content {
        position: relative;
        width: 48vw;
        height: 85vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 498px) and (min-width: 471px) {
    .login__contentRegistro {
        position: relative;
        width: 45vw;
        height: 135vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .login__contentRegistro h5 {
        text-align: center;
        font-family: 'Montserrat-bold';
        font-size: 15pt;
    }
    .controlsPass {
        width: 25vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__contentForgotPass {
        position: relative;
        width: 40vw;
        height: 40vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .controls {
        width: 50vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
        margin-bottom: 4vh;
    }
    .login__content {
        position: relative;
        width: 60vw;
        height: 85vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 471px) and (min-width: 399px) {
    .login__contentRegistro {
        position: relative;
        width: 55vw;
        height: 130vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .login__contentRegistro h5 {
        text-align: center;
        font-family: 'Montserrat-bold';
        font-size: 13pt;
    }
    .controls {
        width: 55vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
        margin-bottom: 4vh;
    }
    .controlsPass {
        width: 25vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__contentForgotPass {
        position: relative;
        width: 37vw;
        height: 35vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .login__content {
        position: relative;
        width: 67vw;
        height: 85vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 400px) and (min-width: 350px) {
    .login__contentRegistro {
        position: relative;
        width: 55vw;
        height: 130vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .login__contentRegistro h5 {
        text-align: center;
        font-family: 'Montserrat-bold';
        font-size: 13pt;
    }
    .controlsPass {
        width: 35vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__contentForgotPass {
        position: relative;
        width: 45vw;
        height: 40vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .controls {
        width: 65vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
        margin-bottom: 4vh;
    }
    .login__content {
        position: relative;
        width: 80vw;
        height: 85vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}

@media only screen and (max-width: 350px) {
    .login__contentRegistro {
        position: relative;
        width: 55vw;
        height: 130vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .login__contentRegistro h5 {
        text-align: center;
        font-family: 'Montserrat-bold';
        font-size: 13pt;
    }
    .controlsPass {
        width: 30vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
    }
    .login__contentForgotPass {
        position: relative;
        width: 50vw;
        height: 40vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
    .controls {
        width: 70vw;
        height: 8vh;
        background: #BFBFBF;
        border-radius: 7px;
        border: 1px solid #BFBFBF;
        margin-bottom: 4vh;
    }
    .login__content {
        position: relative;
        width: 85vw;
        height: 85vh;
        padding: 30px;
        margin: auto;
        margin-top: 4.8vh;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 5px #BFBFBF;
    }
}