<div class="preloaderConsulta" *ngIf="isloading">
    <div class="spinConsulta">
        <div class="cube1Consulta"></div>
        <div class="cube2Consulta"></div>
    </div>
</div>



<div class="login__content">
    <h5 class="login__container--titulo">INICIO DE SESIÓN</h5>
    <input class="controls" type="email" pInputText placeholder="Email" [(ngModel)]="this.login.username" name="uname">

    <input class="controls" type="password" pInputText placeholder="Contraseña" [(ngModel)]="this.login.password" name="psw">

    <div class="alienarResgitrarse">

        <a class="registrarse" [routerLink]="" (click)="showDisplayRegister()">REGISTRARSE</a>
    </div>
    <div class="botonAlinear">
        <button pButton type="button" class="login__buttons" label="INGRESAR" (click)="logingoogle()"></button>
    </div>
    <button pButton pRipple type="button" label="X" class="login__salir--button" routerLink="/home"></button>

    <a [routerLink]="" (click)="showDisplayForgot()">Olvide mi contraseña</a>

</div>



<p-dialog position="top" [(visible)]="displayRegister" [modal]="true">
    <div class="login__contentRegistro">
        <h5>FORMULARIO DE REGISTRO</h5>
        <div class="container-fluid">

            <input type="email" placeholder="CORREO" (input)="buscarCliente($event.target.value)" class="controlsRegistro" pInputText [(ngModel)]="user.email" [email]="true" id="email" name="email">
            <!-- <small id="username2-help" class="p-invalid">{{mensaje}}</small> -->
            <input type="text" placeholder="NOMBRES" class="controlsRegistro" [pKeyFilter]="regexpresion" pInputText [(ngModel)]="user.nombre" id="nombre" name="nombre">
            <input type="text" placeholder="APELLIDOS" class="controlsRegistro" [pKeyFilter]="regexpresion" pInputText [(ngModel)]="user.apellido" id="apellido" name="apellido">
            <input type="text" placeholder="CÉDULA" class="controlsRegistro" pKeyFilter="num" maxlength=10 pInputText [(ngModel)]="user.cedula" id="cedula" name="cedula">
            <input type="text" placeholder="DIRECCIÓN" class="controlsRegistro" pInputText [(ngModel)]="user.direccion" id="direccion" name="direccion">
            <input type="text" placeholder="TELÉFONO" class="controlsRegistro" pKeyFilter="num" maxlength=10 pInputText [(ngModel)]="user.telefono" id='telefono' name="telefono">
            <div class="divPass">
                <input pPassword type="password" class="controlsRegistro" placeholder="CONTRASEÑA" [(ngModel)]="user.password" [weakLabel]="'Malo'" [mediumLabel]="'Bueno'" [strongLabel]="'Excelente !!!!'" [promptLabel]="'Ingrese una contraseña'" [showPassword]="verPassword"
                />

                <button pButton type="button" class="p-button-rounded p-button-sm botonVerPass" icon="far fa-eye" iconPos="left" (click)="verContrase()"></button>

            </div>
            <p-inputMask mask="9999-99-99" [style]="{'width':'100%'}" [(ngModel)]="user.fechanacimiento" placeholder="aaaa-mm-dd / F. Nac">
            </p-inputMask>
            <p-dropdown [options]="estadocivil" [style]="{'width':'100%'}" [(ngModel)]="estadocivilEscogido" placeholder="Estado Civil " optionLabel="nombre" [showClear]="true"></p-dropdown>
            <p-dropdown [options]="genero" [style]="{'width':'100%' }" [(ngModel)]="generoEscogido" placeholder="Genero" optionLabel="nombre" [showClear]="true"></p-dropdown>
            <div>

                <div class="botonAlinear">
                    <button class="login__buttonsRegistrarse" (click)="Resgistrar()">REGISTRARSE</button>
                </div>

            </div>
        </div>

    </div>
</p-dialog>

<p-dialog class="modalPass" position="top" [(visible)]="displayForgot" [modal]="true">
    <div class="login__contentForgotPass">
        <h5>
            <i class="fa fa-user-tag"></i> Ingresar su email
        </h5>
        <div class="container-fluid">
            <div class="row inputs__modal--register">

                <div class="col-md-6">
                    <input type="email" class="controlsPass" pInputText placeholder="Email" [(ngModel)]="emailRecuperacion" [email]="true" id="email" name="email">


                    <button class="login__buttonsEnviar " (click)="OnReset()"> ENVIAR </button>
                </div>
            </div>
        </div>

    </div>
</p-dialog>