<div class="card">
    <div class="header titulo">

        <div class="claseDiseño tittle__izq p-d-inline-flex p-ai-center">
            <i class="pi pi-sort-amount-up">
              </i>
            <b>Lista IVA porcentajes </b>
            <button pButton type="button" class="botonNuevo boton__dere  p-button-rounded p-button-sm" routerLink="/admin/percentage-add">NUEVO</button>
        </div>


    </div>


    <p-table #dt2 [value]="porcentajes" [responsive]="true" selectionMode="single" [(selection)]="selectedPorcentaje" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th class="card__word--header">Nombre
                </th>
                <th class="card__word--header">Valor
                </th>
                <th class="card__word--header">Código
                </th>
                <th class="card__word--header">Opciones
                </th>


            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-porcentaje>
            <tr [pSelectableRow]="porcentajes">
                <td class="card__word--row">
                    <span class="p-column-title">Porcentaje del IVA</span> {{porcentaje.nombrePorcentaje}} %
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Valor %</span> {{porcentaje.valorPorcentaje}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Código Porcentaje </span> {{porcentaje.codigoPorcentaje}}
                </td>

                <td class="card__word--row">
                    <span class="p-column-title">Opciones</span>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePorcentaje(porcentaje.idPorcentajes)"></button>

                    <button pButton pRipple icon="pi pi-pencil" class="boton__derecho p-button-rounded p-button-success p-mr-2" [routerLink]="['/admin/percentage-edit/',porcentaje.idPorcentajes]"></button>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="3">No encontro Categorias</td>
            </tr>
        </ng-template>
    </p-table>
</div>