<div class="card">
    <div class="header titulo">

        <div class=" claseDiseño tittle__izq p-d-inline-flex p-ai-center">
            <i class="pi pi-user p-mr-2">
                </i>
            <b>Lista de Usuarios </b>
        </div>

        <button pButton align="rigth" type="button" class="botonNuevo boton__dere  p-button-rounded p-button-sm" routerLink="/admin/user-add">NUEVO</button>

    </div>


    <p-table #dt2 [value]="usuarios" [responsive]="true" selectionMode="single" [(selection)]="selectedusuarios" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th class="card__word--header">Nombre
                </th>
                <th class="card__word--header">Apellido
                </th>
                <th class="card__word--header">C&eacute;dula
                </th>
                <th class="card__word--header">Correo
                </th>
                <th class="card__word--header">Estado
                </th>
                <th class="card__word--header">Estado Civil
                </th>
                <th class="card__word--header">Genero
                </th>
                <th class="card__word--header">Opciones
                </th>

            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-usuarios>
            <tr [pSelectableRow]="usuarios">
                <td class="card__word--row">
                    <span class="p-column-title">Nombre</span> {{usuarios.nombre}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Apellio</span> {{usuarios.apellido}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">C&eacute;dula</span> {{usuarios.cedula}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Correo</span> {{usuarios.email}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Estado</span> {{usuarios.estado}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Estado Civil</span> {{usuarios.estadocivil.nombre}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Genero</span> {{usuarios.genero.nombre}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Opciones</span>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUsuarios(usuarios.idUsuario)"></button>

                    <button pButton pRipple icon="pi pi-pencil" class="boton__derecho p-button-rounded p-button-success p-mr-2" [routerLink]="['/admin/user-edit/',usuarios.idUsuario]"></button>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No encontro Usuarios</td>
            </tr>
        </ng-template>
    </p-table>
</div>