p {
    color: #000;
}

.titulo__descuento {
    display: flex;
    justify-content: flex-end;
}

.card__word--header {
    font-size: smaller;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}

.card__word--row {
    font-size: small;
    font-weight: 400;
}

.botonAceptar {
    /* background-image: linear-gradient(#049696, #0F4365); */
    background-color: #DDC17B;
    font-family: 'Montserrat-bold';
    width: 90px;
    height: 35px;
    border-radius: 5px;
    border-color: #DDC17B;
}

.botonAceptar:hover {
    /* background-image: linear-gradient(#049696, #0F4365); */
    background-color: #9E9E9E;
    border-color: #9E9E9E;
}