<p-card header="Aplicar Descuento">
    <div class="container">


        <div class="col-md-3">
            <label for="navigators">Escoger Punto de Venta: </label>
        </div>
        <div class="col-md-3">
            <!-- <p-dropdown class="form-select" [options]="puntoVenta" class="" (ngModelChange)="isEnable($event)" [(ngModel)]="puntoVentaEscogido" placeholder="Seleccionar un Punto de Venta" optionLabel="nombreLocal" [showClear]="true"></p-dropdown> -->
            <select class="form-select" (change)="isEnable($event)" [(ngModel)]="puntoVentaEscogido" placeholder="Seleccionar un Punto de Venta" required>
            
                <option *ngFor="let porcentaje of puntoVenta" name="porcentaje"
                    [ngValue]="porcentaje" class="placeholder"> {{porcentaje.nombreLocal}}
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <button class="botonAceptar" (click)="consulta()">BUSCAR</button>
        </div>
    </div>

    <p-card *ngIf="displayProductos">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <i class="pi pi-search"></i>Buscar Producto: <input pInputText type="text" (input)="encontrarProductoModal($event.target.value)">
                </div>
            </div>
            <p-table #dt2 [value]="stock" [responsive]="true" selectionMode="single" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
                <ng-template pTemplate="header">
                    <tr>

                        <th class="card__word--header">Código Pro</th>
                        <th class="card__word--header">Id Punto ven</th>
                        <th class="card__word--header">Detalle</th>
                        <th class="card__word--header">Categoria</th>
                        <th class="card__word--header">P. Unit</th>
                        <th class="card__word--header">P. May</th>
                        <th class="card__word--header">P. Dis</th>
                        <th class="card__word--header">P. Bult</th>

                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-stocks>
                    <tr [pSelectableRow]="stocks" (click)="obtenerVariable(stocks.catProducto.codProducto)">

                        <td class="card__word--row">
                            <span class="p-column-title">Código Pro</span> {{stocks.catProducto.codProducto}}
                        </td>
                        <td class="card__word--row"><span class="p-column-title">Local</span>{{stocks.catPuntosVenta.nombreLocal}}</td>


                        <td class="card__word--row"><span class="p-column-title">Detalle</span>{{stocks.catProducto.detalle}}</td>
                        <td class="card__word--row"><span class="p-column-title">Categoría</span>{{stocks.catProducto.catCategoria.nombreCategoria}}</td>

                        <td class="card__word--row"><span class="p-column-title">P. Unit</span>{{stocks.precioUnit}}</td>
                        <td class="card__word--row"><span class="p-column-title">P. May</span>{{stocks.precioMayor}}</td>
                        <td class="card__word--row"><span class="p-column-title">P. Dis</span>{{stocks.precioDistribuidor}}</td>
                        <td class="card__word--row"><span class="p-column-title">P. Bult</span>{{stocks.precioBulto}}</td>

                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">No encontro productos en stock</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog position="top" [(visible)]="displayDescuento">
            <h5>
                <i class="pi pi-home"></i> Descuento
            </h5>
            <div class="card" style="width: 800px;">
                <div class="container-fluid">
                    <div class="row">
                        <h3>{{codigoTitulo}} {{titulo}} </h3>
                        <p>{{detalleTitulo}}</p>
                        <div class="col-md-6 titulo__descuento">
                            Precio unitario
                        </div>
                        <div class="col-md-6">

                            <p-inputNumber [(ngModel)]="precioUnit" [step]="0.10" [min]="0" [showButtons]="true" inputId="stacked" mode="currency" currency="USD">
                            </p-inputNumber>
                        </div>
                        <div class="col-md-6 titulo__descuento">
                            Precio Mayor
                        </div>
                        <div class="col-md-6">
                            <p-inputNumber [(ngModel)]="precioMay" [step]="0.10" [min]="0" [showButtons]="true" inputId="stacked" mode="currency" currency="USD">
                            </p-inputNumber>
                        </div>
                        <div class="col-md-6 titulo__descuento">
                            Precio Bulto
                        </div>
                        <div class="col-md-6">
                            <p-inputNumber [(ngModel)]="precioBulto" [step]="0.10" [min]="0" [showButtons]="true" inputId="stacked" mode="currency" currency="USD">
                            </p-inputNumber>
                        </div>
                        <div class="col-md-6 titulo__descuento">
                            Precio Distribuidor
                        </div>
                        <div class="col-md-6">
                            <p-inputNumber [(ngModel)]="precioDis" [step]="0.10" [min]="0" [showButtons]="true" inputId="stacked" mode="currency" currency="USD">
                            </p-inputNumber>
                        </div>
                        <div class=" col-md-12">
                            <button label="ACEPTAR" class="botonAceptar" icon="far fa-check-circle" iconPos="left" (click)="actualizarDescuento()">Descontar</button>
                        </div>
                    </div>
                </div>

            </div>
        </p-dialog>
    </p-card>


</p-card>