
.letter{
    font-size: 13px;
}
.card__word--header{
    font-size: smaller;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
}
.card__word--row{
    font-size: small;
    font-weight: 400;
   
}
.boton__menu{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}
.boton__dere{
    margin-right: 1em;
}
.tittle__izq{
    justify-content: flex-start;
}
.header{
    display: flex;
    align-items: center;
    align-items: space-;

}
.botonAceptar {
    /* background-image: linear-gradient(#049696, #0F4365); */
    background-color: #DDC17B;
    font-family: 'Montserrat-bold';
    width: 90px;
    height: 35px;
    margin-top: 4.8vh;
    margin-left: 4.8vh;
    border-radius: 5px;
    border-color: #DDC17B;
}

.botonAceptar:hover {
    /* background-image: linear-gradient(#049696, #0F4365); */
    background-color: #9E9E9E;
    border-color: #9E9E9E;
   
}
@media (max-width: 600px) {
    .boton__menu {
        flex-direction: column;
    }
  }