<div class="card">


    <div class="container-fluid" style="margin: 15px;">
        <div class="row">
            <div class="col-md-1">
                <label id="lblcodigo" class="letter" for="codigo">Código</label>
            </div>
            <div class="col-md-2">
                <input type="text" pKeyFilter="int" pTooltip="CODIGO DEL PRODUCTO" tooltipPosition="top" class="form-control" [(ngModel)]="this.idProductoPrueba" id="codigo" (input)="OnInitVacio($event.target.value)" (keyup.enter)="buscarStockProducto()" name="codigo"
                    placeholder="Codigo">

            </div>
            <div class="col-md-1">
                <label id="lblDetalle" class="letter" for="detalle">Detalle</label>
            </div>

            <div class="col-md-4">
                <input type="text" pTooltip="DETALLE DEL PRODUCTO" tooltipPosition="top" class="form-control" [(ngModel)]="this.detalle" id="detalle" name="detalle" placeholder="Detalle">

            </div>
            <div class="col-md-1">
                <label id="lblCategoria" class="letter" for="categoria">Categoría</label>

            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button id="insertarCategoriaLista" class="btn btn-primary"
                            (click)="showDialogCategoria()">+</button>

                    </span>
                    <select class="form-select" style="width: 100%;" (change)="changedCategoria($event.target.value)" [(ngModel)]="categoriaSelectSearch.nombreCategoria" id="categoria" name="categoria" required>

                        <option [attr.selected]="categoriaSelectSearch.idCategoria"
                            [attr.value]="categoriaSelectSearch.idCategoria"></option>
                        <option *ngFor="let categoria of categoriaEscogida" name="categoria"
                            [ngValue]="categoria.nombreCategoria" class="placeholder">{{categoria.nombreCategoria}}
                        </option>
                    </select>
                </div>
                <p-dialog position="top" [(visible)]="displayCategoria">
                    <h5>Ingresar Nueva Categoria</h5>
                    <span class="p-input-icon-right">
                        <i class="pi pi-spin pi-spinner"></i>
                        <input type="text" pInputText (input)="ingresarCategoria($event.target.value)">
                    </span>
                    <!-- <p-button pButton type="button" label="Ingresar" class="p-button-outlined" ></p-button> -->
                    <p-button label="Aceptar" icon="pi pi-check" iconPos="left" (click)="ingresarpushCategoria()">
                    </p-button>
                </p-dialog>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <label id="lblPrecioUnit" class="letter" for="PrecioUnit">P. Unit</label>

            </div>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" [(ngModel)]="this.precioUnit" id="PrecioUnit" name="2" placeholder="P. U" value="100">

            </div>
            <div class="col-md-1">
                <label id="lblPrecioDis" class="letter" for="PrecioDis">P. Dis</label>
            </div>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" [(ngModel)]="this.precioDis" id="PrecioDis" name="PrecioDis" placeholder="P. Dis" value="100">

            </div>

            <div class="col-md-2">
                <!-- <label id="lblMedida" class="letter" for="medida">Medida</label> -->
            </div>
            <div class="col-md-1">
                <label id="lblMedida" class="letter" for="medida">Medida</label>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button id="insertarMedidaLista" class="btn btn-primary" style="height: 100%;"
                            (click)="showDialogMedida()">+</button>
                        <p-dialog position="top" [(visible)]="displayMedida">
                            <h5>Ingresar Nueva Medida</h5>
                            <span class="p-input-icon-right">
                                <i class="pi pi-spin pi-spinner"></i>
                                <input type="text" pInputText (input)="ingresarMedida($event.target.value)">
                            </span>
                    <p-button label="Aceptar" icon="pi pi-check" iconPos="left" (click)="ingresarpushMedida()">
                    </p-button>

                    </p-dialog>

                    </span>
                    <span class="input-group-btn">
                        <input type="number" style="width: 100px;" step="0.01" class="form-control"
                            [(ngModel)]="this.valorMedida" id="valorMedida" name="valorMedida" placeholder="Valor">
                    </span>
                    <select class="form-select" style="width: 100%;" aria-label="Default select example" (change)="changedMedida($event.target.value)" [(ngModel)]="medidaSelectSearch.medida" id="medida" name="medida" required>
                        <option [attr.selected]="medidaSelectSearch.idMedidas"
                            [attr.value]="medidaSelectSearch.idMedidas">
                        </option>
                        <option *ngFor="let medida of medidaEscogida" name="medida" [ngValue]="medida.medida"
                            class="placeholder">{{medida.medida}}
                        </option>
                    </select>

                </div>

            </div>
        </div>


        <div class="row">


            <div class="col-md-1">
                <label id="lblPrecioMay" class="letter" for="PrecioMay">P. May</label>
            </div>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" [(ngModel)]="this.precioMay" id="PrecioMay" name="PrecioMay" placeholder="P. May" value="100">

            </div>
            <div class="col-md-1">
                <label id="lblPrecioBulto" class="letter" for="PrecioBulto">P. Bulto</label>

            </div>
            <div class="col-md-2">
                <input type="number" step="0.01" class="form-control" [(ngModel)]="this.precioBulto" id="PrecioBulto" name="2" placeholder="P. B" value="100">

            </div>
            <div class="col-md-1">
                <label id="lblCantidad" class="letter" for="cantidad">Cantidad</label>

            </div>
            <div class="col-md-1">
                <input type="number" class="form-control" [(ngModel)]="this.cantidad" id="cantidad" name="cantidad" placeholder="Cantidad" value="100">

            </div>
            <div class="col-md-1">
                <label id="lblIva" class="letter" for="iva">IVA</label>
            </div>
            <div class="col-md-2">

                <select class="form-select" (change)="changedPorcentaje($event.target.value)" [(ngModel)]="porcentajeSelectSearch.nombrePorcentaje" id="porcentaje" name="porcentaje" required>
                   
                    <option *ngFor="let porcentaje of porcentajeEscogida" name="porcentaje"
                        [ngValue]="porcentaje.nombrePorcentaje" class="placeholder">% {{porcentaje.nombrePorcentaje}}
                    </option>
                </select>

            </div>

        </div>
        <div class="row">


            <div class="col-md-1">
                <label id="lblStockMax" class="letter" for="stockMax">Max</label>


            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" [(ngModel)]="this.stockMax" id="stockMax" name="stockMax" placeholder="Max" value="100">

            </div>
            <div class="col-md-1">
                <label id="lblStockMin" class="letter" for="stockMin">Min</label>

            </div>
            <div class="col-md-2">
                <input type="number" class="form-control" [(ngModel)]="this.stockMin" id="stockMin" name="stockMin" placeholder="Min" value="100">

            </div>



        </div>
        <div class="row">


        </div>
        <div class="row">

            <div class="col-md-4 boton__menu">
                <button id="insertarStock" pButton class="boton__dere  p-button-rounded p-button-sm" icon="fas fa-clipboard-list" label="Insertar" (click)="consultar()"></button>



                <button id="ingresarStockBDD" pButton class="boton__dere  p-button-rounded p-button-sm p-button-success" icon="fas fa-check-square" label="Aceptar" (click)="ingresar()"></button>


                <button pButton class="btn__size p-button-raised p-button-rounded p-button-sm p-button-warning " label="Consultar" icon="fas fa-search-plus" iconPos="left" (click)="showConsultar()"></button>

            </div>



        </div>


        <p-table #dt2 [value]="stockAuxiliarLista" [responsive]="true" selectionMode="single" [(selection)]="selectedDetalles" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
            <ng-template pTemplate="header">
                <tr>

                    <th class="card__word--header" style="width: 100px;">Código</th>
                    <th class="card__word--header" style="width: 100px;">Categoria</th>
                    <th class="card__word--header" style="width: 100px;">Detalle</th>
                    <th class="card__word--header" style="width: 100px;">Medida</th>
                    <th class="card__word--header" style="width: 100px;">Cant</th>
                    <th class="card__word--header" style="width: 100px;">P. Unit</th>
                    <th class="card__word--header" style="width: 100px;">P. May</th>
                    <th class="card__word--header" style="width: 100px;">P. Dis</th>
                    <th class="card__word--header" style="width: 100px;">P. Bulto</th>
                    <th class="card__word--header" style="width: 100px;"></th>



                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-stockAuxiliarLista let-index="rowIndex">
                <tr [pSelectableRow]="stockAuxiliarLista">



                    <td class="card__word--row"> <span class="p-column-title">Código</span>{{stockAuxiliarLista.catProducto.codProducto}}
                    </td>
                    <td class="card__word--row"> <span class="p-column-title">Categoria</span> {{stockAuxiliarLista.catProducto.catCategoria.nombreCategoria}}
                    </td>
                    <td class="card__word--row"> <span class="p-column-title">Detalle</span> {{stockAuxiliarLista.catProducto.detalle}}
                    </td>
                    <td class="card__word--row"><span class="p-column-title">Medida</span> {{stockAuxiliarLista.catProducto.valorMedida+stockAuxiliarLista.catProducto.catMedida.abreviacion}}
                    </td>
                    <td class="card__word--row"> <span class="p-column-title">Cant</span> {{stockAuxiliarLista.cantidad}}

                    </td>
                    <td class="card__word--row"> <span class="p-column-title">P.
                            Unit</span>{{stockAuxiliarLista.precioUnit}}

                    </td>
                    <td class="card__word--row"> <span class="p-column-title">P.
                            May</span>{{stockAuxiliarLista.precioMayor}}

                    </td>
                    <td class="card__word--row"> <span class="p-column-title">P.
                            Dis</span>{{stockAuxiliarLista.precioDistribuidor}}
                    </td>
                    <td class="card__word--row"> <span class="p-column-title">P.
                            Bulto</span>{{stockAuxiliarLista.precioBulto}}</td>

                    <td><button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="eliminarstockList(stockAuxiliarLista.catProducto.idProductos)"></button></td>

                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="10">No hay detalles de ingresos </td>
                </tr>
            </ng-template>

            <ng-template pTemplate="summary">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-md-2">
                            <button class="botonAceptar" (click)="regresar()">Regresar</button>

                        </div>
                        <!-- <div class="col-md-1">
                    </div> -->
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-2">
                            <label id="lblTotal" for="lblTotal">TOTAL: ${{totalIngresoVista}}</label>
                        </div>

                    </div>

                </div>

            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog position="top" [(visible)]="displayConsultar">
    <h5>
        Buscador de Productos</h5>
    <p-card>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <i class="pi pi-search"></i>Buscar Producto: <input pInputText type="text" (input)="encontrarProductoModal($event.target.value)">
                </div>
            </div>

            <p-table #dt2 [value]="stockConsulta" [responsive]="true" selectionMode="single" [(selection)]="selectedStock" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
                <ng-template pTemplate="header">
                    <tr>

                        <th class="card__word--header">Código Pro</th>
                        <th class="card__word--header">Nombre Local</th>
                        <th class="card__word--header">Detalle</th>
                        <th class="card__word--header">Categoria</th>
                        <th class="card__word--header">Foto</th>
                        <th class="card__word--header">Medida</th>
                        <th class="card__word--header">P. Unit</th>
                        <th class="card__word--header">P. May</th>
                        <th class="card__word--header">P. Dis</th>
                        <th class="card__word--header">P. Bulto</th>
                        <th class="card__word--header">Cant</th>
                        <th class="card__word--header">S. Max</th>
                        <th class="card__word--header">S. Min</th>
                    </tr>

                </ng-template>
                <ng-template pTemplate="body" let-stocks>
                    <tr [pSelectableRow]="stocks" (click)="obtenerVariable(stocks.catProducto.codProducto)">

                        <td class="card__word--row">
                            <span class="p-column-title">Código Pro</span> {{stocks.catProducto.codProducto}}

                        </td>


                        <td class="card__word--row">
                            <span class="p-column-title">Nombre del local</span> {{stocks.catPuntosVenta.nombreLocal}}
                        </td>


                        <td class="card__word--row">
                            <span class="p-column-title">Detalle</span> {{stocks.catProducto.detalle}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">Categoria</span> {{stocks.catProducto.catCategoria.nombreCategoria}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">Foto</span>

                            <img src="{{stocks.catProducto.urlFoto1}}" width="70px" height="100px" class="p-shadow-4" />
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">Medida</span> {{stocks.catProducto.catMedida.medida}}
                        </td>

                        <td class="card__word--row">
                            <span class="p-column-title">P. Unit</span> {{stocks.precioUnit}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">P. May</span> {{stocks.precioMayor}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">P. Dis</span> {{stocks.precioDistribuidor}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">P. Bulto</span> {{stocks.precioBulto}}
                        </td>

                        <td class="card__word--row">
                            <span class="p-column-title">Cant</span> {{stocks.cantidad}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">S. Max</span> {{stocks.stockMax}}
                        </td>
                        <td class="card__word--row">
                            <span class="p-column-title">S. Min</span> {{stocks.stockMin}}
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="4">No encontro ningun Producto</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-card>


</p-dialog>