<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion menuColor" id="accordionSidebar">

        <!-- Sidebar - Brand -->


        <img src="../../../assets/img/logo.jpeg" alt="logo" width="100px" style="align-self: center;">

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link">
                <i class="pi pi-globe"></i>
                <span>Pagina Principal</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link">
                <i class="far fa-user-circle"></i>
                <span>{{nombreUsuario}}</span>
                <br/>
                <span>{{apellidoUsuario}}</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Pages Collapse Menu -->

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a [routerLink]="" routerLinkActive="router-link-active" class="nav-link collapsed" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="pi pi-briefcase"></i>
                <span>Productos</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">

                    <a [routerLink]="" routerLinkActive="router-link-active" class="collapse-item" (click)="showDialogStock()"><i class="pi pi-list"></i>Stock</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Charts -->
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <!-- <a class="nav-link" routerLink="/admin/bill"> -->
            <a [routerLink]="" routerLinkActive="router-link-active" class="nav-link" (click)="showDialogPuntoVenta()">
                <i class="pi pi-dollar"></i>
                <span>Venta</span></a>
        </li>

        <!-- Divider -->
        <li class="nav-item logout">
            <a [routerLink]="" routerLinkActive="router-link-active" class="nav-link" (click)="logOut()">
                <i class="fas fa-sign-out-alt"></i>
                <span>Cerrar Sesion</span></a>
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<p-dialog position="top" [(visible)]="displayPuntoVenta">
    <h5>
        <i class="pi pi-home"></i> Escoger un Punto Venta</h5>
    <div class="card  card__sales--points">
        <div class="row" *ngFor="let puntoVenta of puntoVenta">
            <div class="col-md-6 menu__row--points">
                <i class="fas fa-store"></i> {{puntoVenta.nombreLocal}}
            </div>
            <div class="col-md-6 menu__row--points">
                <button class="botonNuevo" icon="far fa-check-circle" iconPos="left" (click)="enviarPuntoVenta(puntoVenta.idPuntosVenta)">ACEPTAR</button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog position="top" [(visible)]="displayStock">
    <h5>
        <i class="pi pi-home"></i> Escoger un Punto Venta</h5>
    <div class="card  card__sales--points">
        <div class="row" *ngFor="let puntoventaStock of puntoventaStock">
            <div class="col-md-6 menu__row--points">
                <i class="fas fa-store"></i> {{puntoventaStock.nombreLocal}}
            </div>

            <div class="col-md-6 menu__row--points">
                <button class="botonNuevo" icon="far fa-check-circle" iconPos="left" (click)="enviaraStock(puntoventaStock.idPuntosVenta)">ACEPTAR</button>

            </div>
        </div>
    </div>
</p-dialog>