<p-card>

    <div class="tittle__izq ">
        <i class="fas fa-store p-mr-2">
              </i>
        <b>Lista de Puntos Venta </b>
        <button pButton type="button" class="botonNuevo boton__dere  p-button-rounded p-button-sm" routerLink="/admin/sales-points-add">NUEVO</button>
    </div>
    <p-table #dt2 [value]="puntosVentas" [responsive]="true" selectionMode="single" [(selection)]="selectedpuntosVentas" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th class="card__word--header">Nombre Local</th>
                <th class="card__word--header">Dirección</th>
                <th class="card__word--header">Ciudad</th>
                <th class="card__word--header">Teléfono</th>
                <th class="card__word--header">Opciones</th>

            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-puntosventa>
            <tr [pSelectableRow]="puntosventa">

                <td class="card__word--row">
                    <span class="p-column-title">Nombre Local</span>{{puntosventa.nombreLocal}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Dirección</span>{{puntosventa.direccion}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Ciudad</span>{{puntosventa.ciudad}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Teléfono</span>{{puntosventa.telefono}}
                </td>

                <td class="card__word--row">
                    <span class="p-column-title">Opciones</span>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePuntosVentas(puntosventa.idPuntosVenta)"></button>

                    <button pButton pRipple icon="pi pi-pencil" class="boton__derecho p-button-rounded p-button-success p-mr-2" [routerLink]="['/admin/sales-points-edit/',puntosventa.idPuntosVenta]"></button>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No encontro Puntos de Venta</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>
<!-- </div> -->