<div class="preloaderConsulta" *ngIf="isloading">
    <div class="spinConsulta">
        <div class="cube1Consulta"></div>
        <div class="cube2Consulta"></div>
    </div>
</div>



<p-card header="Consultas de los Productos">




    <div class="container-fluid">
        <div class="row division">

            <div class="titulo">

                Inventario: Listar Todos los Productos de la Importadora Kalteh
            </div>

            <div class="col-md-6 division__rowizq">

                <div class="row__div">
                    Listar todos los productos
                    <button class="botonConsultar" (click)="getFindInventario()"><i
                            class="fas fa-search"></i>CONSULTAR</button>
                    <button class="botonImprimir" (click)="imprimirInventarioTo()"><i
                            class="fas fa-print"></i>IMPRIMIR</button>
                </div>

                <div class="row__div">
                    <button class="botonCodigoBarras" (click)="imprimircodigoBarra()"><i
                            class="fas fa-print"></i>Codigos de barra</button>
                </div>
            </div>

            <div class="col-md-6 division__rowder">
                <div class="row__div">
                    Punto de Venta:
                    <p-dropdown [options]="itemsaux" [(ngModel)]="selectedItems1"
                        placeholder="Seleccionar un Punto Venta" optionLabel="nombreLocal"
                        (onChange)=" getFindInventarioPuntoVenta($event.value.idPuntosVenta)"></p-dropdown>
                    <button class="botonImprimir" (click)="imprimirInventarioToPuntoVenta()"><i
                            class="fas fa-print"></i>IMPRIMIR</button>

                </div>
            </div>
        </div>
        <div class="row division">
            <div class="titulo"> Inventario Mínimo: Listar todos los productos que estan por terminarse </div>
            <div class="col-md-6 division__rowizq">
                <div class="row__div">
                    Listar todos los productos <button class="botonConsultar" (click)="getFindMin()"><i
                            class="fas fa-search"></i>CONSULTAR</button>
                    <button class="botonImprimir" (click)="imprimirInventarioMin()"><i
                            class="fas fa-print"></i>IMPRIMIR</button>

                </div>

            </div>
            <div class="col-md-6 division__rowder">
                <div class="row__div">
                    Punto de Venta:
                    <p-dropdown [options]="itemsaux" [(ngModel)]="selectedItems2"
                        placeholder="Seleccionar un Punto Venta" optionLabel="nombreLocal"
                        (onChange)=" getFindMinPuntoVenta($event.value.idPuntosVenta)"></p-dropdown>
                    <button class="botonImprimir" (click)="imprimirInventarioMinPuntoVenta()"><i
                            class="fas fa-print"></i>IMPRIMIR</button>

                </div>

            </div>
        </div>
        <div class="row division">
            <div class="titulo"> Buscar Productos</div>
            <div class="col-md-12 division__rowizq">
                <div class="row__divi">
                    Buscar: <input class="input__text" type="text" (input)="findParametros($event.target.value)">
                </div>


            </div>


        </div>
    </div>

    <p-table #dt2 [value]="stock" [responsive]="true" selectionMode="single" [(selection)]="selectedStock" dataKey="id"
        styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local"
        stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>

                <th class="card__word--header">Código Pro</th>
                <th class="card__word--header">Nombre Local</th>
                <th class="card__word--header">Detalle</th>
                <th class="card__word--header">Categoria</th>
                <th class="card__word--header">Foto</th>
                <th class="card__word--header">Medida</th>
                <th class="card__word--header">P. Unit</th>
                <th class="card__word--header">P. May</th>
                <th class="card__word--header">P. Dis</th>
                <th class="card__word--header">P. Bult</th>
                <th class="card__word--header">Cant</th>
                <th class="card__word--header">S. Max</th>
                <th class="card__word--header">S. Min</th>
            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-stocks>
            <tr [pSelectableRow]="stocks">

                <td class="card__word--row">
                    <span class="p-column-title">Código Pro</span> {{stocks.catProducto.codProducto}}

                </td>


                <td class="card__word--row">
                    <span class="p-column-title">Nombre del local</span> {{stocks.catPuntosVenta.nombreLocal}}

                </td>


                <td class="card__word--row">
                    <span class="p-column-title">Detalle</span> {{stocks.catProducto.detalle}}

                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Categoria</span> {{stocks.catProducto.catCategoria.nombreCategoria}}

                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Foto</span>

                    <img src="{{stocks.catProducto.urlFoto1}}" width="70px" height="100px" class="p-shadow-4" />
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Medida</span> {{stocks.catProducto.catMedida.abreviacion}}

                </td>

                <td class="card__word--row">
                    <span class="p-column-title">P. Unit</span> {{stocks.precioUnit}}

                </td>
                <td class="card__word--row">
                    <span class="p-column-title">P. May</span> {{stocks.precioMayor}}

                </td>
                <td class="card__word--row">
                    <span class="p-column-title">P. Dis</span> {{stocks.precioDistribuidor}}

                </td>
                <td class="card__word--row">
                    <span class="p-column-title">P. Bult</span> {{stocks.precioBulto}}

                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Cant</span>
                    <div
                        [ngClass]="{'outofstock': stocks.cantidad <= stocks.stockMin, 'instock': (stocks.cantidad > stocks.stockMin && stocks.cantidad <= stocks.stockMax ),'lowstock': stocks.cantidad >= stocks.stockMax}">

                        {{stocks.cantidad}}
                    </div>

                </td>
                <td class="card__word--row">
                    <span class="p-column-title">S. Max</span> {{stocks.stockMax}}

                </td>
                <td class="card__word--row">
                    <span class="p-column-title">S. Min</span> {{stocks.stockMin}}

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="13">No encontro ningun Producto</td>
            </tr>
        </ng-template>
    </p-table>

</p-card>