@font-face {
    font-family: 'Montserrat-bold';
    src: url(../../../../assets/fonts/Montserrat-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-light';
    src: url(../../../../assets/fonts/Montserrat-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Montserrat-extraBold';
    src: url(../../../../assets/fonts/Montserrat-ExtraBold.ttf) format('truetype');
}

.division {
    margin-bottom: 30px;
}

.division__rowizq {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    font-size: 15px;
}

.division__rowder {
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    font-size: 15px;
}

.titulo {
    /* background-image: linear-gradient(#049696, #0F4365); */
    background: #9E9E9E;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}

.boton__dere {
    margin-left: 1em;
}

.row__div {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 5px;
}

.row__divi {
    margin-top: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.input__text {
    width: 100%;
}

tr .card__word--header {
    font-size: smaller;
    font-family: 'Montserrat';
    font-weight: 900;
    /* background-color: #DDC17B;
    color: white; */
}

.card__word--row {
    font-size: 12px;
    font-weight: 400;
    color: #000;
    text-align: left;
}

.boton__dere {
    justify-content: flex-end;
}

.tittle__izq {
    justify-content: flex-start;
}

.header {
    display: flex;
    align-items: center;
    align-items: space-;
}

i {
    margin-right: 1em;
}

.botonConsultar {
    /* background-image: linear-gradient(#049696, #0F4365); */
    background: #DDC17B;
    font-family: 'Montserrat-bold';
    font-size: 12pt;
    width: 150px;
    height: 35px;
    margin-top: 3.8vh;
    margin-left: 4.8vh;
    border-radius: 5px;
    border-color:#DDC17B ;
    color: white;
}

.botonCodigoBarras {
    /* background-image: linear-gradient(#049696, #0F4365); */
    background: #DDC17B;
    font-family: 'Montserrat-bold';
    font-size: 12pt;
    width: 190px;
    height: 35px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 5px;
    border-color: #DDC17B;
    color: white;
}

.botonImprimir {
    /* background-image: linear-gradient(#049696, #0F4365); */
    background-color: #DDC17B;
    font-family: 'Montserrat-bold';
    font-size: 12pt;
    width: 120px;
    height: 35px;
    margin-top: 3.8vh;
    margin-left: 4.8vh;
    border-radius: 5px;
    border-color: #DDC17B;
    color: white;
}