<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion menuColor" id="accordionSidebar">

        <!-- Sidebar - Brand -->


        <img src="../../../assets/img/logo.jpeg" alt="logo" width="100px" style="align-self: center;">

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" (click)="gotoHome()" [routerLink]="" routerLinkActive="router-link-active">
                <i class="pi pi-globe"></i>
                <span>Pagina Principal</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link">
                <i class="far fa-user-circle"></i>
                <span>{{nombreUsuario}}</span>
                <br/>
                <span>{{apellidoUsuario}}</span>
            </a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="" routerLinkActive="router-link-active" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">

                <i class="pi pi-user"></i>
                <span>Usuarios</span>

            </a>
            <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">

                    <a class="collapse-item" routerLink="/admin/user"><i class="pi pi-users"></i>Usuarios</a>
                    <a class="collapse-item" routerLink="/admin/client"><i class="far fa-smile-wink"></i>Clientes</a>
                    <a class="collapse-item" routerLink="/admin/parameters"><i class="fa fa-cogs"></i>Parametros</a>
                    <!-- <a class="collapse-item" routerLink="/admin/rol"><i class="pi pi-id-card"></i>Rol</a>
                    <a class="collapse-item" routerLink="/admin/rol-user"><i class="pi pi-user-plus"></i>Asignar-Rol</a> -->
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="" routerLinkActive="router-link-active" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="pi pi-briefcase"></i>
                <span>Productos</span>
            </a>
            <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" routerLink="/admin/category"><i class="pi pi-sort-amount-up"></i>Categoria</a>
                    <a class="collapse-item" routerLink="/admin/percentage"><i class="pi pi-percentage"></i>Porcentajes</a>
                    <!-- <a class="collapse-item" routerLink="/admin/design"><i class="pi pi-image"></i>Diseño</a> -->
                    <a class="collapse-item" routerLink="/admin/size"><i class="pi pi-sort-alpha-up"></i>Medida</a>
                    <a class="collapse-item" routerLink="/admin/product"><i class="pi pi-tag"></i>Producto</a>
                    <a class="collapse-item" routerLink="/admin/stock"><i class="pi pi-list"></i>Stock</a>
                    <a class="collapse-item" routerLink="/admin/discount"><i class="far fa-money-bill-alt"></i>Descuento</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/sales-points">
                <i class="pi pi-home"></i>
                <span>Puntos de Venta</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <!-- <a class="nav-link" routerLink="/admin/bill"> -->
            <a class="nav-link" (click)="showDialogPuntoVenta()" [routerLink]="" routerLinkActive="router-link-active">
                <i class="pi pi-dollar"></i>
                <span>Venta</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/admin/report-product">
                <i class="fa fa-search-plus"></i>
                <span>Consultas</span></a>
        </li> -->

        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="" routerLinkActive="router-link-active" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseUtilities">
                <i class="fa fa-search-plus"></i>
                <span>Consultas</span>
            </a>
            <div id="collapse3" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" routerLink="/admin/report-product"><i class="pi pi-sort-amount-up"></i>Estado de <br/>Productos</a>
                    <a class="collapse-item" routerLink="/admin/order"><i class="fa fa-boxes"></i>Pedidos</a>

                </div>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/report-bill">
                <i class="fas fa-file-pdf"></i>
                <span>Facturas</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logOut()" [routerLink]="" routerLinkActive="router-link-active">
                <i class="fas fa-sign-out-alt"></i>
                <span>Cerrar Sesion</span></a>
        </li>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<p-dialog position="top" [(visible)]="displayPuntoVenta">
    <h5>
        <i class="pi pi-home"></i> Escoger un Punto Venta</h5>
    <div class="card  card__sales--points">
        <div class="row" *ngFor="let puntoVenta of puntoVenta">
            <div class="col-md-6 menu__row--points">
                <i class="fas fa-store"></i> {{puntoVenta.nombreLocal}}
            </div>
            <div class="col-md-6 menu__row--points">
                <button class="botonNuevo" icon="far fa-check-circle" iconPos="left" (click)="enviarPuntoVenta(puntoVenta.idPuntosVenta)">ACEPTAR</button>
            </div>
        </div>
    </div>
</p-dialog>