<div class="card">

    <div class="header titulo">

        <div class="tittle__izq p-d-inline-flex p-ai-center">
            <i class="fa fa-list-ol p-mr-2">
            </i>
            <b>Lista de Stock</b>
            <button pButton type="button" class="botonNuevo1 boton__dere  p-button-rounded p-button-sm" (click)="showDialogPuntoVenta()">NUEVO</button>
        </div>


    </div>
    <p-dialog position="top" [(visible)]="displayPuntoVenta">
        <h5>
            <i class="pi pi-home"></i> Escoger un Punto Venta
        </h5>
        <div class="card  card__sales--points">
            <div class="row" *ngFor="let puntoVenta of puntoVenta">
                <div class="col-md-6 ">
                    <i class="fas fa-store" style="margin: 5px;">{{puntoVenta.nombreLocal}}</i>
                </div>
                <div class=" col-md-6 ">
                    <button label="ACEPTAR" class="botonNuevo" icon="far fa-check-circle" iconPos="left" [routerLink]="['/admin/stock-add/',puntoVenta.idPuntosVenta]">AGREGAR</button>
                </div>
            </div>
        </div>
    </p-dialog>


    <p-table #dt2 [value]="stock" [responsive]="true" selectionMode="single" [(selection)]="selectedstock" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>

                <th class="card__word--header">Código Pro</th>
                <th class="card__word--header">Id Punto ven</th>
                <th class="card__word--header">Detalle</th>
                <th class="card__word--header">Categoria</th>
                <th class="card__word--header">Foto</th>
                <th class="card__word--header">Medida</th>
                <th class="card__word--header">P. Unit</th>
                <th class="card__word--header">P. May</th>
                <th class="card__word--header">P. Dis</th>
                <th class="card__word--header">P. Bult</th>
                <th class="card__word--header">Cant</th>
                <th class="card__word--header">S. Max</th>
                <th class="card__word--header">S. Min</th>
                <th class="card__word--header">Dar de baja</th>

            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-stocks>
            <tr [pSelectableRow]="stocks">

                <td class="card__word--row">
                    <span class="p-column-title">Código Pro</span> {{stocks.catProducto.codProducto}}
                </td>
                <td class="card__word--row"><span class="p-column-title">Local</span>{{stocks.catPuntosVenta.nombreLocal}}</td>


                <td class="card__word--row"><span class="p-column-title">Detalle</span>{{stocks.catProducto.detalle}}</td>
                <td class="card__word--row"><span class="p-column-title">Categoría</span>{{stocks.catProducto.catCategoria.nombreCategoria}}</td>
                <td class="card__word--row"><span class="p-column-title">Foto</span>

                    <img src="{{stocks.catProducto.urlFoto1}}" width="70px" height="100px" class="p-shadow-4" />
                </td>
                <td class="card__word--row"><span class="p-column-title">Medida</span>{{stocks.catProducto.valorMedida+stocks.catProducto.catMedida.abreviacion}}</td>

                <td class="card__word--row"><span class="p-column-title">P. Unit</span>{{stocks.precioUnit}}</td>
                <td class="card__word--row"><span class="p-column-title">P. May</span>{{stocks.precioMayor}}</td>
                <td class="card__word--row"><span class="p-column-title">P. Dis</span>{{stocks.precioDistribuidor}}</td>
                <td class="card__word--row"><span class="p-column-title">P. Dis</span>{{stocks.precioBulto}}</td>
                <td class="card__word--row"><span class="p-column-title">Cant</span>{{stocks.cantidad}}</td>
                <td class="card__word--row"><span class="p-column-title">S. Max</span>{{stocks.stockMax}}</td>
                <td class="card__word--row"><span class="p-column-title">S. min</span>{{stocks.stockMin}}</td>




                <td class="card__word--row">
                    <span class="p-column-title">Dar de baja</span>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="dardebaja(stocks.catProducto.idProductos,stocks.catPuntosVenta.idPuntosVenta)"></button>

                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No encontro productos en stock</td>
            </tr>
        </ng-template>
    </p-table>

</div>