<div class="card">
    <div class="header titulo">

        <div class="tittle__izq p-d-inline-flex p-ai-center">
            <i class="pi pi-sort-alpha-up">
              </i>
            <b>Lista de Medidas </b>
            <button pButton type="button" class="botonNuevo boton__dere  p-button-rounded p-button-sm" routerLink="/admin/size-add">NUEVO</button>
        </div>


    </div>


    <p-table #dt2 [value]="medidas" [responsive]="true" selectionMode="single" [(selection)]="selectedmedidas" dataKey="id" styleClass="p-datatable-responsive" [rows]="10" [paginator]="true" stateStorage="local" stateKey="statedemo-local">
        <ng-template pTemplate="header">
            <tr>
                <th class="card__word--header">Medida
                </th>
                <th class="card__word--header">Abreviación
                </th>
                <th class="card__word--header">Tipo de Medida
                </th>
                <th class="card__word--header">Opciones
                </th>


            </tr>

        </ng-template>
        <ng-template pTemplate="body" let-medida>
            <tr [pSelectableRow]="medida">
                <td class="card__word--row">
                    <span class="p-column-title">Medida</span> {{medida.medida}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Abreviación</span> {{medida.abreviacion}}
                </td>
                <td class="card__word--row">
                    <span class="p-column-title">Tipo de Medida</span> {{medida.tipo}}
                </td>

                <td class="card__word--row">
                    <span class="p-column-title">Opciones</span>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteMedida(medida.idMedidas)"></button>

                    <button pButton pRipple icon="pi pi-pencil" class="boton__derecho p-button-rounded p-button-success p-mr-2" [routerLink]="['/admin/size-edit/',medida.idMedidas]"></button>
                </td>


            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No encontro Medidas</td>
            </tr>
        </ng-template>
    </p-table>
</div>